# NOTE: This file is auto generated by OpenAPI Generator 7.13.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule CoinAPIMarketDataRESTAPI.Api.Metadata do
  @moduledoc """
  API calls for all endpoints tagged `Metadata`.
  """

  alias CoinAPIMarketDataRESTAPI.Connection
  import CoinAPIMarketDataRESTAPI.RequestBuilder

  @doc """
  List all assets by asset ID

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `asset_id` (String.t): The asset ID.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%V1Asset{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_assets_asset_id_get(Tesla.Env.client, String.t, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.V1Asset.t]} | {:error, Tesla.Env.t}
  def v1_assets_asset_id_get(connection, asset_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/assets/#{asset_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.V1Asset}
    ])
  end

  @doc """
  List all assets
  Retrieves all assets.              :::info Our asset identifiers are aligned with the ISO 4217 currency codes standard only for fiat money (government or law regulated currency). :::              :::info Properties of the output are providing aggregated information from across all symbols related to the specific asset. If you need to calculate your aggregation (e.g., limiting only the particular type of symbols), you should use /v1/symbols endpoint as a data source. :::

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:filter_asset_id` (String.t): Comma or semicolon delimited asset identifiers used to filter response. (optional, eg. `BTC;ETH`).

  ### Returns

  - `{:ok, [%V1Asset{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_assets_get(Tesla.Env.client, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.V1Asset.t]} | {:error, Tesla.Env.t}
  def v1_assets_get(connection, opts \\ []) do
    optional_params = %{
      :filter_asset_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/assets")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.V1Asset}
    ])
  end

  @doc """
  List all asset icons
  Gets the list of icons (of the given size) for all the assets.

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `size` (integer()): The size of the icons.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%V1Icon{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_assets_icons_size_get(Tesla.Env.client, integer(), keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.V1Icon.t]} | {:error, Tesla.Env.t}
  def v1_assets_icons_size_get(connection, size, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/assets/icons/#{size}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.V1Icon}
    ])
  end

  @doc """
  List all chains by chain ID

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `chain_id` (String.t): The chain ID.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%V1Chain{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_chains_chain_id_get(Tesla.Env.client, String.t, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.V1Chain.t]} | {:error, Tesla.Env.t}
  def v1_chains_chain_id_get(connection, chain_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/chains/#{chain_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.V1Chain}
    ])
  end

  @doc """
  List all blockchain chains
  Retrieves all blockchain chains supported by the system.              :::info Properties of the output are providing aggregated information from across all symbols related to the specific chain. If you need to calculate your aggregation (e.g., limiting only the particular type of symbols), you should use /v1/symbols endpoint as a data source. :::

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:filter_chain_id` (String.t): Comma or semicolon delimited chain identifiers used to filter response. (optional, eg. `ETHEREUM;ARBITRUM`).

  ### Returns

  - `{:ok, [%V1Chain{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_chains_get(Tesla.Env.client, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.V1Chain.t]} | {:error, Tesla.Env.t}
  def v1_chains_get(connection, opts \\ []) do
    optional_params = %{
      :filter_chain_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/chains")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.V1Chain}
    ])
  end

  @doc """
  List all exchanges by exchange_id

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `exchange_id` (String.t): The ID of the exchange.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%V1Exchange{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_exchanges_exchange_id_get(Tesla.Env.client, String.t, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.V1Exchange.t]} | {:error, Tesla.Env.t}
  def v1_exchanges_exchange_id_get(connection, exchange_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/exchanges/#{exchange_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.V1Exchange}
    ])
  end

  @doc """
  List all exchanges
  Get a detailed list of exchanges provided by the system.              :::info Properties of the output are providing aggregated information from across all symbols related to the specific exchange. If you need to calculate your aggregation (e.g., limiting only the particular type of symbols), you should use /v1/symbols endpoint as a data source. :::

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:filter_exchange_id` (String.t): Comma or semicolon delimited exchange identifiers used to filter response. (optional, eg. `BITSTAMP;GEMINI`)

  ### Returns

  - `{:ok, [%V1Exchange{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_exchanges_get(Tesla.Env.client, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.V1Exchange.t]} | {:error, Tesla.Env.t}
  def v1_exchanges_get(connection, opts \\ []) do
    optional_params = %{
      :filter_exchange_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/exchanges")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.V1Exchange}
    ])
  end

  @doc """
  List of icons for the exchanges

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `size` (integer()): The size of the icons.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%V1Icon{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_exchanges_icons_size_get(Tesla.Env.client, integer(), keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.V1Icon.t]} | {:error, Tesla.Env.t}
  def v1_exchanges_icons_size_get(connection, size, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/exchanges/icons/#{size}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.V1Icon}
    ])
  end

  @doc """
  List of symbols for the exchange

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `exchange_id` (String.t): The ID of the exchange (from the Metadata -> Exchanges)
  - `opts` (keyword): Optional parameters
    - `:filter_symbol_id` (String.t): The filter for symbol ID.
    - `:filter_asset_id` (String.t): The filter for asset ID.

  ### Returns

  - `{:ok, [%V1Symbol{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_symbols_exchange_id_get(Tesla.Env.client, String.t, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.V1Symbol.t]} | {:error, Tesla.Env.t}
  def v1_symbols_exchange_id_get(connection, exchange_id, opts \\ []) do
    optional_params = %{
      :filter_symbol_id => :query,
      :filter_asset_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/symbols/#{exchange_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.V1Symbol}
    ])
  end

  @doc """
  List all symbols
  Retrieves all symbols with optional filtering.              :::info \"price_precision\" and \"size_precision\" are data precisions and are not always the same precisions used for trading eg. for the \"BINANCE\" exchanges. :::              :::info You should not assume that the market data will be always within the resolution provided by the \"price_precision\" and \"size_precision\". The fact that the precision values can be derived from a posterior implies the fact that this data could be delayed, also it can be changed by the data source without notice and we will immediately deliver data with the new precision while could not update the precision values in this endpoint immediately. :::              ### Symbol identifier              Our symbol identifier is created using a pattern that depends on symbol type.              Type | `symbol_id` pattern --------- | --------- SPOT | `{exchange_id}_SPOT_{asset_id_base}_{asset_id_quote}` FUTURES | `{exchange_id}_FTS_{asset_id_base}_{asset_id_quote}_{YYMMDD of future_delivery_time}` OPTION | `{exchange_id}_OPT_{asset_id_base}_{asset_id_quote}_{YYMMDD of option_expiration_time}_{option_strike_price}_{option_type_is_call as C/P}` PERPETUAL | `{exchange_id}_PERP_{asset_id_base}_{asset_id_quote}` INDEX | `{exchange_id}_IDX_{index_id}` CREDIT | `{exchange_id}_CRE_{asset_id_base}` CONTACT  | `{exchange_id}_COT_{contract_id}`              :::info In the unlikely event when the \"symbol_id\" for more than one market is the same. We will append the additional term (prefixed with the \"_\") at the end of the duplicated identifiers to differentiate them. :::info              ### Symbol types list (enumeration of `symbol_type` output variable)              Type | Name | Description -------- | - | ----------- SPOT | FX Spot | Agreement to exchange one asset for another one *(e.g. Buy BTC for USD)* FUTURES | Futures contract | FX Spot derivative contract where traders agree to trade fx spot at predetermined future time OPTION | Option contract | FX Spot derivative contract where traders agree to trade right to require buy or sell of fx spot at agreed price on exercise date PERPETUAL | Perpetual contract | FX Spot derivative contract where traders agree to trade fx spot continously without predetermined future delivery time INDEX | Index | Statistical composite that measures changes in the economy or markets. CREDIT | Credit/Funding | Margin funding contract. Order book displays lending offers and borrow bids. Price represents the daily rate. CONTRACT | Contract | Represents other types of financial instruments *(e.g. spreads, interest rate swap)*              ### Additional output variables for `symbol_type = INDEX`              Variable | Description --------- | ----------- index_id | Index identifier index_display_name | Human readable name of the index *(optional)* index_display_description | Description of the index *(optional)*              ### Additional output variables for `symbol_type = FUTURES`              Variable | Description --------- | ----------- future_delivery_time | Predetermined time of futures contract delivery date in ISO 8601 future_contract_unit | Contact size *(eg. 10 BTC if `future_contract_unit` = `10` and `future_contract_unit_asset` = `BTC`)* future_contract_unit_asset | Identifier of the asset used to denominate the contract unit              ### Additional output variables for `symbol_type = PERPETUAL`              Variable | Description --------- | ----------- future_contract_unit | Contact size *(eg. 10 BTC if `future_contract_unit` = `10` and `future_contract_unit_asset` = `BTC`)* future_contract_unit_asset | Identifier of the asset used to denominate the contract unit              ### Additional output variables for `symbol_type = OPTION`              Variable | Description --------- | ----------- option_type_is_call | Boolean value representing option type. `true` for Call options, `false` for Put options option_strike_price | Price at which option contract can be exercised option_contract_unit | Base asset amount of underlying spot which single option represents option_exercise_style | Option exercise style. Can be `EUROPEAN` or `AMERICAN` option_expiration_time | Option contract expiration time in ISO 8601              ### Additional output variables for `symbol_type = CONTRACT`              Variable | Description --------- | ----------- contract_delivery_time | Predetermined time of contract delivery date in ISO 8601 contract_unit | Contact size *(eg. 10 BTC if `contract_unit` = `10` and `contract_unit_asset` = `BTC`)* contract_unit_asset | Identifier of the asset used to denominate the contract unit contract_id | Identifier of contract by the exchange

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:filter_symbol_id` (String.t): Comma or semicolon delimited parts of symbol identifier used to filter response. (optional, eg. `BITSTAMP`_ or `BINANCE_SPOT_`)
    - `:filter_exchange_id` (String.t): The filter for exchange ID.
    - `:filter_asset_id` (String.t): The filter for asset ID.

  ### Returns

  - `{:ok, [%V1Symbol{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_symbols_get(Tesla.Env.client, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.V1Symbol.t]} | {:error, Tesla.Env.t}
  def v1_symbols_get(connection, opts \\ []) do
    optional_params = %{
      :filter_symbol_id => :query,
      :filter_exchange_id => :query,
      :filter_asset_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/symbols")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.V1Symbol}
    ])
  end

  @doc """
  List symbol mapping for the exchange

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `exchange_id` (String.t): The ID of the exchange (from the Metadata -> Exchanges)
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%V1SymbolMapping{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_symbols_map_exchange_id_get(Tesla.Env.client, String.t, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.V1SymbolMapping.t]} | {:error, Tesla.Env.t}
  def v1_symbols_map_exchange_id_get(connection, exchange_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/symbols/map/#{exchange_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.V1SymbolMapping}
    ])
  end
end
