=begin
#OMS - REST API ...@

#OMS Project

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class OrdersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel all order
    # Cancel all existing order.
    # @param cancel_all_order [CancelAllOrder] 
    # @param [Hash] opts the optional parameters
    # @return [MessagesOk]
    def v1_orders_cancel_all_post(cancel_all_order, opts = {})
      data, _status_code, _headers = v1_orders_cancel_all_post_with_http_info(cancel_all_order, opts)
      data
    end

    # Cancel all order
    # Cancel all existing order.
    # @param cancel_all_order [CancelAllOrder] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessagesOk, Integer, Hash)>] MessagesOk data, response status code and response headers
    def v1_orders_cancel_all_post_with_http_info(cancel_all_order, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.v1_orders_cancel_all_post ...'
      end
      # verify the required parameter 'cancel_all_order' is set
      if @api_client.config.client_side_validation && cancel_all_order.nil?
        fail ArgumentError, "Missing the required parameter 'cancel_all_order' when calling OrdersApi.v1_orders_cancel_all_post"
      end
      # resource path
      local_var_path = '/v1/orders/cancel/all'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(cancel_all_order) 

      # return_type
      return_type = opts[:return_type] || 'MessagesOk' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#v1_orders_cancel_all_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel order
    # Cancel an existing order, can be used to cancel margin, exchange, and derivative orders. You can cancel the order by the internal order ID or exchange order ID.
    # @param cancel_order [CancelOrder] 
    # @param [Hash] opts the optional parameters
    # @return [OrderLive]
    def v1_orders_cancel_post(cancel_order, opts = {})
      data, _status_code, _headers = v1_orders_cancel_post_with_http_info(cancel_order, opts)
      data
    end

    # Cancel order
    # Cancel an existing order, can be used to cancel margin, exchange, and derivative orders. You can cancel the order by the internal order ID or exchange order ID.
    # @param cancel_order [CancelOrder] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderLive, Integer, Hash)>] OrderLive data, response status code and response headers
    def v1_orders_cancel_post_with_http_info(cancel_order, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.v1_orders_cancel_post ...'
      end
      # verify the required parameter 'cancel_order' is set
      if @api_client.config.client_side_validation && cancel_order.nil?
        fail ArgumentError, "Missing the required parameter 'cancel_order' when calling OrdersApi.v1_orders_cancel_post"
      end
      # resource path
      local_var_path = '/v1/orders/cancel'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'appliction/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(cancel_order) 

      # return_type
      return_type = opts[:return_type] || 'OrderLive' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#v1_orders_cancel_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get orders
    # List your current open orders.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :exchange_id Exchange name
    # @return [Array<Order>]
    def v1_orders_get(opts = {})
      data, _status_code, _headers = v1_orders_get_with_http_info(opts)
      data
    end

    # Get orders
    # List your current open orders.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :exchange_id Exchange name
    # @return [Array<(Array<Order>, Integer, Hash)>] Array<Order> data, response status code and response headers
    def v1_orders_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.v1_orders_get ...'
      end
      # resource path
      local_var_path = '/v1/orders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'exchange_id'] = opts[:'exchange_id'] if !opts[:'exchange_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<Order>' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#v1_orders_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create new order
    # You can place two types of orders: limit and market. Orders can only be placed if your account has sufficient funds.
    # @param new_order [NewOrder] 
    # @param [Hash] opts the optional parameters
    # @return [OrderLive]
    def v1_orders_post(new_order, opts = {})
      data, _status_code, _headers = v1_orders_post_with_http_info(new_order, opts)
      data
    end

    # Create new order
    # You can place two types of orders: limit and market. Orders can only be placed if your account has sufficient funds.
    # @param new_order [NewOrder] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderLive, Integer, Hash)>] OrderLive data, response status code and response headers
    def v1_orders_post_with_http_info(new_order, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.v1_orders_post ...'
      end
      # verify the required parameter 'new_order' is set
      if @api_client.config.client_side_validation && new_order.nil?
        fail ArgumentError, "Missing the required parameter 'new_order' when calling OrdersApi.v1_orders_post"
      end
      # resource path
      local_var_path = '/v1/orders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'appliction/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(new_order) 

      # return_type
      return_type = opts[:return_type] || 'OrderLive' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#v1_orders_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
