{
  "openapi": "3.0.1",
  "info": {
    "title": "REST API",
    "contact": {
      "name": "API BRICKS LTD",
      "url": "https://www.finfeedapi.com",
      "email": "support@apibricks.io"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api-historical.sec.finfeedapi.com"
    }
  ],
  "paths": {
    "/v1/extractor": {
      "get": {
        "tags": [
          "Content Extraction"
        ],
        "summary": "Extract and classify SEC filing content ",
        "description": "Retrieves filing content from the EDGAR database and intelligently classifies it according to form type and item categories.\r\n\r\n### Supported Form Types\r\n\r\nForm Type | Description\r\n----------|------------\r\n8-K      | Current report filing\r\n10-K     | Annual report filing\r\n10-Q     | Quarterly report filing\r\n\r\n### Content Classification\r\n- 8-K forms: Content classified by item numbers (e.g., 1.01, 2.01)\r\n- 10-K/10-Q forms: Items categorized by their respective part and item structure\r\n\r\n:::note\r\nBoth HTML and plain text documents are supported for content extraction.\r\n:::",
        "parameters": [
          {
            "name": "accession_number",
            "in": "query",
            "description": "The SEC filing accession number used to retrieve the filing from EDGAR database.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Result type (text or html, default: text)",
            "schema": {
              "$ref": "#/components/schemas/DTO.ExtractorType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful extraction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTO.FilingExtractResultDto"
                },
                "examples": {
                  "Example Filing Extract": {
                    "value": {
  "accession_number": "0001140361-21-012345",
  "form_type": "10-K",
  "items": [
    {
      "item_number": "Item 1",
      "item_title": "Business",
      "content": "Description of business operations..."
    },
    {
      "item_number": "Item 1A",
      "item_title": "Risk Factors",
      "content": "Discussion of potential risks and uncertainties..."
    },
    {
      "item_number": "Item 2",
      "item_title": "Properties",
      "content": "Description of company properties and facilities..."
    }
  ]
}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mvc.ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Filing not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/extractor/item": {
      "get": {
        "tags": [
          "Content Extraction"
        ],
        "summary": "Extract specific item content from SEC filing",
        "description": "Retrieves filing content from the EDGAR database and returns only the text content of the specified item number.\r\n\r\n### Item Number Format\r\n\r\nForm Type | Item Format Examples\r\n-----------|-------------------\r\n8-K       | 1.01, 2.01, 7.01\r\n10-K      | 1, 2, 3\r\n10-K/10-Q | PartI 1, PartII 2\r\n\r\n:::tip\r\nFor best results, ensure the item number matches exactly with the filing's structure.\r\n:::",
        "parameters": [
          {
            "name": "accession_number",
            "in": "query",
            "description": "The SEC filing accession number used to retrieve the filing from EDGAR database.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_number",
            "in": "query",
            "description": "The specific item number to extract (e.g., \"1.01\", \"2.01\", \"7.01\").",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Result type (text or html, default: text)",
            "schema": {
              "$ref": "#/components/schemas/DTO.ExtractorType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful extraction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mvc.ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Filing or item not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/filings": {
      "get": {
        "tags": [
          "Filing Metadata"
        ],
        "summary": "Query SEC filing metadata",
        "description": "Retrieves metadata for SEC filings based on various filter criteria with pagination and sorting support.\r\n\r\n### Available Sort Fields\r\n\r\nField Name | Description\r\n-----------|-------------\r\nAccessionNumber | SEC filing accession number\r\nFilingDate | Date when filing was submitted\r\nAcceptanceDateTime | Date and time of filing acceptance\r\nReportDate | Date of the report\r\nSize | Size of the filing document\r\n\r\n### Date Format\r\nAll dates must be provided in YYYY-MM-DD format\r\n\r\n### Form Types\r\nForm types can be provided as comma-separated values, e.g.: \"10-K,8-K,10-Q\"\r\n\r\n:::tip\r\nFor optimal performance, use date ranges and form types to narrow down your search\r\n:::",
        "parameters": [
          {
            "name": "cik",
            "in": "query",
            "description": "Filter by Central Index Key (CIK)",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "form_type",
            "in": "query",
            "description": "Filter by form type(s) (e.g., \"10-K\", \"8-K\"). Multiple values can be comma-separated",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filling_date_start",
            "in": "query",
            "description": "Filter by filling date start (inclusive), format YYYY-MM-DD",
            "schema": {
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "type": "string"
            }
          },
          {
            "name": "filling_date_end",
            "in": "query",
            "description": "Filter by filling date end (inclusive), format YYYY-MM-DD",
            "schema": {
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "type": "string"
            }
          },
          {
            "name": "report_date_start",
            "in": "query",
            "description": "Filter by report date start (inclusive), format YYYY-MM-DD",
            "schema": {
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "type": "string"
            }
          },
          {
            "name": "report_date_end",
            "in": "query",
            "description": "Filter by report date end (inclusive), format YYYY-MM-DD",
            "schema": {
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "type": "string"
            }
          },
          {
            "name": "items_contain",
            "in": "query",
            "description": "Filter filings where the 'Items' field contains the specified text",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results per page (default: 50, max: 200)",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "Page number to retrieve (default: 1)",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort results by (default: AccessionNumber)",
            "schema": {
              "$ref": "#/components/schemas/DTO.FilingSortBy"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort order (asc or desc, default: desc)",
            "schema": {
              "pattern": "^(asc|desc)$",
              "type": "string",
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DTO.FilingMetadataDto"
                  }
                },
                "examples": {
                  "Example Filing Metadata": {
                    "value": {
  "cik": 1234567890,
  "accession_number": "0001140361-21-012345",
  "filing_date": "2021-03-15",
  "report_date": "2020-12-31",
  "acceptance_date_time": "2021-03-15T16:30:00.0000000Z",
  "act": "34",
  "form": "10-K",
  "file_number": "001-12345",
  "film_number": "21654321",
  "items": "1,1A,2",
  "core_type": "10-K",
  "size": 15000000,
  "is_xbrl": true,
  "is_inline_xbrl": true,
  "primary_document": "form10k.htm",
  "primary_doc_description": "Form 10-K Annual Report",
  "source_file": "edgar/data/1234567890/0001140361-21-012345.txt"
}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mvc.ValidationProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/full-text": {
      "get": {
        "tags": [
          "Full Text Search"
        ],
        "summary": "Full-text search of SEC filing documents",
        "description": "Search across SEC filing documents with advanced filtering and sorting capabilities.\r\n\r\n### Available Sort Fields\r\n\r\nField Name | Description\r\n-----------|-------------\r\nAccessionNumber | SEC filing accession number\r\nFormType | Type of the filing document\r\nFilingDate | Date when filing was submitted\r\nCompanyName | Name of the company\r\nCIK | Central Index Key\r\nDocumentFilename | Name of the filing document\r\nDocumentDescription | Description of the document\r\n\r\n### Search Options\r\n\r\nOption | Description\r\n--------|-------------\r\ntext_contains | Keywords that must appear in the document\r\ntext_not_contain | Keywords that must not appear in the document\r\n\r\n### Date Format\r\nAll dates must be provided in YYYY-MM-DD format\r\n\r\n:::tip\r\nUse text_contains and text_not_contain with multiple keywords separated by commas for more precise searches\r\n:::\r\n\r\n:::note\r\nThe search is case-insensitive and supports partial word matches\r\n:::",
        "parameters": [
          {
            "name": "form_type",
            "in": "query",
            "description": "Filter by form type (e.g., \"10-K\", \"8-K\"). Multiple values can be comma-separated",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filling_date_start",
            "in": "query",
            "description": "Filter by filling date start (inclusive), format YYYY-MM-DD",
            "schema": {
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "type": "string"
            }
          },
          {
            "name": "filling_date_end",
            "in": "query",
            "description": "Filter by filling date end (inclusive), format YYYY-MM-DD",
            "schema": {
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "type": "string"
            }
          },
          {
            "name": "text_contains",
            "in": "query",
            "description": "Keywords that the text must contain. Multiple values can be comma-separated",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text_not_contain",
            "in": "query",
            "description": "Keywords that the text must not contain. Multiple values can be comma-separated",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results per page (default: 100)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "Page number to retrieve (default: 1)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by (default: AccessionNumber)",
            "schema": {
              "pattern": "^(AccessionNumber|FormType|FilingDate|CompanyName|CIK|DocumentFilename|DocumentDescription)$",
              "type": "string",
              "default": "AccessionNumber"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort order (asc or desc). Defaults to asc",
            "schema": {
              "pattern": "^(asc|desc)$",
              "type": "string",
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DTO.SecFilingResultDto"
                  }
                },
                "examples": {
                  "Example SEC Filing Result": {
                    "value": {
  "accession_number": "0001140361-21-012345",
  "form_type": "10-K",
  "filing_date": "2021-03-15",
  "company_name": "Example Corporation",
  "cik": 1234567890,
  "document_filename": "form10k.htm",
  "document_description": "Form 10-K Annual Report",
  "source_file": "edgar/data/1234567890/0001140361-21-012345.txt"
}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mvc.ValidationProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DTO.ExtractorType": {
        "enum": [
          "text",
          "html"
        ],
        "type": "string"
      },
      "DTO.FilingExtractResultDto": {
        "type": "object",
        "properties": {
          "accession_number": {
            "type": "string",
            "nullable": true
          },
          "form_type": {
            "type": "string",
            "nullable": true
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DTO.FilingItemDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the result of a filing extraction."
      },
      "DTO.FilingItemDto": {
        "type": "object",
        "properties": {
          "item_number": {
            "type": "string",
            "nullable": true
          },
          "item_title": {
            "type": "string",
            "nullable": true
          },
          "content": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DTO.FilingMetadataDto": {
        "type": "object",
        "properties": {
          "cik": {
            "type": "integer",
            "format": "int64"
          },
          "accession_number": {
            "type": "string",
            "nullable": true
          },
          "filing_date": {
            "type": "string",
            "format": "date"
          },
          "report_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "acceptance_date_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "act": {
            "type": "string",
            "nullable": true
          },
          "form": {
            "type": "string",
            "nullable": true
          },
          "file_number": {
            "type": "string",
            "nullable": true
          },
          "film_number": {
            "type": "string",
            "nullable": true
          },
          "items": {
            "type": "string",
            "nullable": true
          },
          "core_type": {
            "type": "string",
            "nullable": true
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "is_xbrl": {
            "type": "boolean",
            "nullable": true
          },
          "is_inline_xbrl": {
            "type": "boolean",
            "nullable": true
          },
          "primary_document": {
            "type": "string",
            "nullable": true
          },
          "primary_doc_description": {
            "type": "string",
            "nullable": true
          },
          "source_file": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the response for a single SEC filing metadata record.\r\nMaps fields from the edgar_submissions table."
      },
      "DTO.FilingSortBy": {
        "enum": [
          "AccessionNumber",
          "FilingDate",
          "ReportDate",
          "AcceptanceDateTime",
          "Size"
        ],
        "type": "string",
        "description": "Defines sorting options for the filing query."
      },
      "DTO.SecFilingResultDto": {
        "type": "object",
        "properties": {
          "accession_number": {
            "type": "string",
            "nullable": true
          },
          "form_type": {
            "type": "string",
            "nullable": true
          },
          "filing_date": {
            "type": "string",
            "format": "date"
          },
          "company_name": {
            "type": "string",
            "nullable": true
          },
          "cik": {
            "type": "integer",
            "format": "int64"
          },
          "document_filename": {
            "type": "string",
            "nullable": true
          },
          "document_description": {
            "type": "string",
            "nullable": true
          },
          "source_file": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Mvc.ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": { }
      },
      "Mvc.ValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "nullable": true
          }
        },
        "additionalProperties": { }
      }
    },
    "securitySchemes": {
      "APIKey": {
        "type": "apiKey",
        "description": "API Key is required to access the API endpoints.",
        "name": "Authorization",
        "in": "header"
      },
      "Bearer": {
        "type": "http",
        "description": "JWT Authorization header using the Bearer scheme. Example: \"Bearer {token}\"",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "Basic": [ ]
    }
  ],
  "tags": [
    {
      "name": "Extractor",
      "description": "Provides endpoints for extracting and classifying content from SEC filing HTML documents."
    },
    {
      "name": "Filings",
      "description": "Provides endpoints for querying historical SEC filing metadata.\r\nAllows users to filter filings based on criteria like CIK, form type, date ranges, etc."
    },
    {
      "name": "FullText",
      "description": "Provides endpoints for performing full-text searches on historical SEC filing documents.\r\nAllows users to query filings based on various criteria such as form type, date ranges, and text content."
    }
  ]
}
