# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule EMS-ManagedCloudRESTAPI.Api.Certificate do
  @moduledoc """
  API calls for all endpoints tagged `Certificate`.
  """

  alias EMS-ManagedCloudRESTAPI.Connection
  import EMS-ManagedCloudRESTAPI.RequestBuilder


  @doc """
  Get authentication certificate
  Providing PEM file with the Private Key, Public Key and the Certificate to authenticate to the EMS API.

  ## Parameters

  - connection (EMS-ManagedCloudRESTAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, String.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec certificate(Tesla.Env.client, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def certificate(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/certificate/pem")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, false}
    ])
  end
end
