# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule EMS-ManagedCloudRESTAPI.Api.Endpoints do
  @moduledoc """
  API calls for all endpoints tagged `Endpoints`.
  """

  alias EMS-ManagedCloudRESTAPI.Connection
  import EMS-ManagedCloudRESTAPI.RequestBuilder


  @doc """
  Get API endpoints
  Get all API endpoints that the EMS API expose for your subscription.

  ## Parameters

  - connection (EMS-ManagedCloudRESTAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :filter_exchange_id ([String.t]): Exchange id
  ## Returns

  {:ok, [%AccountEndpoint{}, ...]} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec endpoints(Tesla.Env.client, keyword()) :: {:ok, list(EMS-ManagedCloudRESTAPI.Model.AccountEndpoint.t)} | {:error, Tesla.Env.t}
  def endpoints(connection, opts \\ []) do
    optional_params = %{
      :"filter_exchange_id" => :query
    }
    %{}
    |> method(:get)
    |> url("/v1/endpoints")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, [%EMS-ManagedCloudRESTAPI.Model.AccountEndpoint{}]}
    ])
  end
end
