=begin
#REST API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1
Contact: support@apibricks.io
Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module OpenapiClient
  class OptionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Current data by Exchange
    # Get current options data for a specific exchange.    Returns option data grouped by underlying asset, quote currency, and expiration time,  with quotes for both calls and puts at each strike price.
    # @param exchange_id [String] Exchange identifier (from the Metadata -&gt; Exchanges)
    # @param [Hash] opts the optional parameters
    # @return [Array<OptionsOptionExchangeGroup>]
    def v1_options_exchange_id_current_get(exchange_id, opts = {})
      data, _status_code, _headers = v1_options_exchange_id_current_get_with_http_info(exchange_id, opts)
      data
    end

    # Current data by Exchange
    # Get current options data for a specific exchange.    Returns option data grouped by underlying asset, quote currency, and expiration time,  with quotes for both calls and puts at each strike price.
    # @param exchange_id [String] Exchange identifier (from the Metadata -&gt; Exchanges)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<OptionsOptionExchangeGroup>, Integer, Hash)>] Array<OptionsOptionExchangeGroup> data, response status code and response headers
    def v1_options_exchange_id_current_get_with_http_info(exchange_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OptionsApi.v1_options_exchange_id_current_get ...'
      end
      # verify the required parameter 'exchange_id' is set
      if @api_client.config.client_side_validation && exchange_id.nil?
        fail ArgumentError, "Missing the required parameter 'exchange_id' when calling OptionsApi.v1_options_exchange_id_current_get"
      end
      # resource path
      local_var_path = '/v1/options/{exchange_id}/current'.sub('{' + 'exchange_id' + '}', CGI.escape(exchange_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json', 'application/x-msgpack']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OptionsOptionExchangeGroup>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"OptionsApi.v1_options_exchange_id_current_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OptionsApi#v1_options_exchange_id_current_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
