/**
 * Exchange Rates Historical REST API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * Contact: support@apibricks.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import java.util.*;
import org.openapitools.client.model.V1ExchangeRate;
import org.openapitools.client.model.V1ExchangeRates;
import org.openapitools.client.model.V1ExchangeRatesTimeseriesItem;
import org.openapitools.client.model.V1TimeseriesPeriod;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class ExchangeRatesApi {
  String basePath = "https://api-historical.exrates.coinapi.io";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Get specific rate
  * Retrieves the exchange rate for a specific base and quote asset at a given time or the current rate.              :::info If you are using an exchange rate for mission-critical operations, then for best reliability, you should measure the difference between current time and the time returned from the response to ensure that value of the difference between those meets your internal requirements. :::
   * @param assetIdBase Requested exchange rate base asset identifier (from the Metadata -&gt; Assets)
   * @param assetIdQuote Requested exchange rate quote asset identifier (from the Metadata -&gt; Assets)
   * @param time Time at which exchange rate is calculated (optional, if not supplied then current rate is returned)
   * @return V1ExchangeRate
  */
  public V1ExchangeRate getSpecificRate (String assetIdBase, String assetIdQuote, String time) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'assetIdBase' is set
    if (assetIdBase == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetIdBase' when calling getSpecificRate",
        new ApiException(400, "Missing the required parameter 'assetIdBase' when calling getSpecificRate"));
    }
    // verify the required parameter 'assetIdQuote' is set
    if (assetIdQuote == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetIdQuote' when calling getSpecificRate",
        new ApiException(400, "Missing the required parameter 'assetIdQuote' when calling getSpecificRate"));
    }

    // create path and map variables
    String path = "/v1/exchangerate/{asset_id_base}/{asset_id_quote}".replaceAll("\\{" + "asset_id_base" + "\\}", apiInvoker.escapeString(assetIdBase.toString())).replaceAll("\\{" + "asset_id_quote" + "\\}", apiInvoker.escapeString(assetIdQuote.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "time", time));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "APIKey" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (V1ExchangeRate) ApiInvoker.deserialize(localVarResponse, "", V1ExchangeRate.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get specific rate
   * Retrieves the exchange rate for a specific base and quote asset at a given time or the current rate.              :::info If you are using an exchange rate for mission-critical operations, then for best reliability, you should measure the difference between current time and the time returned from the response to ensure that value of the difference between those meets your internal requirements. :::
   * @param assetIdBase Requested exchange rate base asset identifier (from the Metadata -&gt; Assets)   * @param assetIdQuote Requested exchange rate quote asset identifier (from the Metadata -&gt; Assets)   * @param time Time at which exchange rate is calculated (optional, if not supplied then current rate is returned)
  */
  public void getSpecificRate (String assetIdBase, String assetIdQuote, String time, final Response.Listener<V1ExchangeRate> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'assetIdBase' is set
    if (assetIdBase == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetIdBase' when calling getSpecificRate",
        new ApiException(400, "Missing the required parameter 'assetIdBase' when calling getSpecificRate"));
    }
    // verify the required parameter 'assetIdQuote' is set
    if (assetIdQuote == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetIdQuote' when calling getSpecificRate",
        new ApiException(400, "Missing the required parameter 'assetIdQuote' when calling getSpecificRate"));
    }

    // create path and map variables
    String path = "/v1/exchangerate/{asset_id_base}/{asset_id_quote}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "asset_id_base" + "\\}", apiInvoker.escapeString(assetIdBase.toString())).replaceAll("\\{" + "asset_id_quote" + "\\}", apiInvoker.escapeString(assetIdQuote.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "time", time));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "APIKey" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((V1ExchangeRate) ApiInvoker.deserialize(localVarResponse,  "", V1ExchangeRate.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Timeseries data
  * Get the historical exchange rates between two assets in the form of the timeseries.
   * @param assetIdBase Requested exchange rates base asset identifier (from the Metadata -&gt; Assets)
   * @param assetIdQuote Requested exchange rates base asset identifier (from the Metadata -&gt; Assets)
   * @param periodId Identifier of requested timeseries period (required, e.g. &#x60;5SEC&#x60; or &#x60;1HRS&#x60;)
   * @param timeStart Timeseries starting time in ISO 8601 (required)
   * @param timeEnd Timeseries ending time in ISO 8601 (required)
   * @param limit Amount of items to return (optional, mininum is 1, maximum is 100000, default value is 100, if the parameter is used then every 100 output items are counted as one request)
   * @return List<V1ExchangeRatesTimeseriesItem>
  */
  public List<V1ExchangeRatesTimeseriesItem> v1ExchangerateAssetIdBaseAssetIdQuoteHistoryGet (String assetIdBase, String assetIdQuote, String periodId, String timeStart, String timeEnd, Integer limit) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'assetIdBase' is set
    if (assetIdBase == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetIdBase' when calling v1ExchangerateAssetIdBaseAssetIdQuoteHistoryGet",
        new ApiException(400, "Missing the required parameter 'assetIdBase' when calling v1ExchangerateAssetIdBaseAssetIdQuoteHistoryGet"));
    }
    // verify the required parameter 'assetIdQuote' is set
    if (assetIdQuote == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetIdQuote' when calling v1ExchangerateAssetIdBaseAssetIdQuoteHistoryGet",
        new ApiException(400, "Missing the required parameter 'assetIdQuote' when calling v1ExchangerateAssetIdBaseAssetIdQuoteHistoryGet"));
    }

    // create path and map variables
    String path = "/v1/exchangerate/{asset_id_base}/{asset_id_quote}/history".replaceAll("\\{" + "asset_id_base" + "\\}", apiInvoker.escapeString(assetIdBase.toString())).replaceAll("\\{" + "asset_id_quote" + "\\}", apiInvoker.escapeString(assetIdQuote.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "period_id", periodId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "time_start", timeStart));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "time_end", timeEnd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "APIKey" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<V1ExchangeRatesTimeseriesItem>) ApiInvoker.deserialize(localVarResponse, "array", V1ExchangeRatesTimeseriesItem.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Timeseries data
   * Get the historical exchange rates between two assets in the form of the timeseries.
   * @param assetIdBase Requested exchange rates base asset identifier (from the Metadata -&gt; Assets)   * @param assetIdQuote Requested exchange rates base asset identifier (from the Metadata -&gt; Assets)   * @param periodId Identifier of requested timeseries period (required, e.g. &#x60;5SEC&#x60; or &#x60;1HRS&#x60;)   * @param timeStart Timeseries starting time in ISO 8601 (required)   * @param timeEnd Timeseries ending time in ISO 8601 (required)   * @param limit Amount of items to return (optional, mininum is 1, maximum is 100000, default value is 100, if the parameter is used then every 100 output items are counted as one request)
  */
  public void v1ExchangerateAssetIdBaseAssetIdQuoteHistoryGet (String assetIdBase, String assetIdQuote, String periodId, String timeStart, String timeEnd, Integer limit, final Response.Listener<List<V1ExchangeRatesTimeseriesItem>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'assetIdBase' is set
    if (assetIdBase == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetIdBase' when calling v1ExchangerateAssetIdBaseAssetIdQuoteHistoryGet",
        new ApiException(400, "Missing the required parameter 'assetIdBase' when calling v1ExchangerateAssetIdBaseAssetIdQuoteHistoryGet"));
    }
    // verify the required parameter 'assetIdQuote' is set
    if (assetIdQuote == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetIdQuote' when calling v1ExchangerateAssetIdBaseAssetIdQuoteHistoryGet",
        new ApiException(400, "Missing the required parameter 'assetIdQuote' when calling v1ExchangerateAssetIdBaseAssetIdQuoteHistoryGet"));
    }

    // create path and map variables
    String path = "/v1/exchangerate/{asset_id_base}/{asset_id_quote}/history".replaceAll("\\{format\\}","json").replaceAll("\\{" + "asset_id_base" + "\\}", apiInvoker.escapeString(assetIdBase.toString())).replaceAll("\\{" + "asset_id_quote" + "\\}", apiInvoker.escapeString(assetIdQuote.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "period_id", periodId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "time_start", timeStart));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "time_end", timeEnd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "APIKey" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<V1ExchangeRatesTimeseriesItem>) ApiInvoker.deserialize(localVarResponse,  "array", V1ExchangeRatesTimeseriesItem.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get all current rates
  * Get the current exchange rate between requested asset and all other assets.              :::info If you are using an exchange rate for mission-critical operations, then for best reliability, you should measure the difference between current time and the time returned from the response to ensure that value of the difference between those meets your internal requirements. :::              :::info You can invert the rates by using Y &#x3D; 1 / X equation, for example BTC/USD &#x3D; 1 / (USD/BTC); :::
   * @param assetIdBase Requested exchange rates base asset identifier (from the Metadata -&gt; Assets)
   * @param filterAssetId Comma or semicolon delimited asset identifiers used to filter response (optional)
   * @param invert True will invert all the rates (optional, if true then rates will be calculated as &#x60;rate &#x3D; 1 / actual_rate&#x60; eg. &#x60;USD/BTC&#x60; as &#x60;BTC/USD&#x60;)
   * @param time Time for historical rates (optional)
   * @return V1ExchangeRates
  */
  public V1ExchangeRates v1ExchangerateAssetIdBaseGet (String assetIdBase, String filterAssetId, Boolean invert, String time) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'assetIdBase' is set
    if (assetIdBase == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetIdBase' when calling v1ExchangerateAssetIdBaseGet",
        new ApiException(400, "Missing the required parameter 'assetIdBase' when calling v1ExchangerateAssetIdBaseGet"));
    }

    // create path and map variables
    String path = "/v1/exchangerate/{asset_id_base}".replaceAll("\\{" + "asset_id_base" + "\\}", apiInvoker.escapeString(assetIdBase.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter_asset_id", filterAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "invert", invert));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "time", time));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "APIKey" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (V1ExchangeRates) ApiInvoker.deserialize(localVarResponse, "", V1ExchangeRates.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get all current rates
   * Get the current exchange rate between requested asset and all other assets.              :::info If you are using an exchange rate for mission-critical operations, then for best reliability, you should measure the difference between current time and the time returned from the response to ensure that value of the difference between those meets your internal requirements. :::              :::info You can invert the rates by using Y &#x3D; 1 / X equation, for example BTC/USD &#x3D; 1 / (USD/BTC); :::
   * @param assetIdBase Requested exchange rates base asset identifier (from the Metadata -&gt; Assets)   * @param filterAssetId Comma or semicolon delimited asset identifiers used to filter response (optional)   * @param invert True will invert all the rates (optional, if true then rates will be calculated as &#x60;rate &#x3D; 1 / actual_rate&#x60; eg. &#x60;USD/BTC&#x60; as &#x60;BTC/USD&#x60;)   * @param time Time for historical rates (optional)
  */
  public void v1ExchangerateAssetIdBaseGet (String assetIdBase, String filterAssetId, Boolean invert, String time, final Response.Listener<V1ExchangeRates> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'assetIdBase' is set
    if (assetIdBase == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetIdBase' when calling v1ExchangerateAssetIdBaseGet",
        new ApiException(400, "Missing the required parameter 'assetIdBase' when calling v1ExchangerateAssetIdBaseGet"));
    }

    // create path and map variables
    String path = "/v1/exchangerate/{asset_id_base}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "asset_id_base" + "\\}", apiInvoker.escapeString(assetIdBase.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter_asset_id", filterAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "invert", invert));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "time", time));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "APIKey" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((V1ExchangeRates) ApiInvoker.deserialize(localVarResponse,  "", V1ExchangeRates.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Timeseries periods
  * You can also obtain historical exchange rates of any asset pair, grouped into time periods. Get full list of supported time periods available for requesting exchange rates historical timeseries data.              ## Timeseries periods Time unit | Period identifiers --- | --- Second | 1SEC, 2SEC, 3SEC, 4SEC, 5SEC, 6SEC, 10SEC, 15SEC, 20SEC, 30SEC Minute | 1MIN, 2MIN, 3MIN, 4MIN, 5MIN, 6MIN, 10MIN, 15MIN, 20MIN, 30MIN Hour | 1HRS, 2HRS, 3HRS, 4HRS, 6HRS, 8HRS, 12HRS Day | 1DAY, 2DAY, 3DAY, 5DAY, 7DAY, 10DAY
   * @return List<V1TimeseriesPeriod>
  */
  public List<V1TimeseriesPeriod> v1ExchangerateHistoryPeriodsGet () throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/v1/exchangerate/history/periods";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "APIKey" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<V1TimeseriesPeriod>) ApiInvoker.deserialize(localVarResponse, "array", V1TimeseriesPeriod.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Timeseries periods
   * You can also obtain historical exchange rates of any asset pair, grouped into time periods. Get full list of supported time periods available for requesting exchange rates historical timeseries data.              ## Timeseries periods Time unit | Period identifiers --- | --- Second | 1SEC, 2SEC, 3SEC, 4SEC, 5SEC, 6SEC, 10SEC, 15SEC, 20SEC, 30SEC Minute | 1MIN, 2MIN, 3MIN, 4MIN, 5MIN, 6MIN, 10MIN, 15MIN, 20MIN, 30MIN Hour | 1HRS, 2HRS, 3HRS, 4HRS, 6HRS, 8HRS, 12HRS Day | 1DAY, 2DAY, 3DAY, 5DAY, 7DAY, 10DAY

  */
  public void v1ExchangerateHistoryPeriodsGet (final Response.Listener<List<V1TimeseriesPeriod>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/v1/exchangerate/history/periods".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "APIKey" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<V1TimeseriesPeriod>) ApiInvoker.deserialize(localVarResponse,  "array", V1TimeseriesPeriod.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
