/**
 * OEML - REST API
 * This section will provide necessary information about the `CoinAPI OEML REST API` protocol. <br/> This API is also available in the Postman application: <a href=\"https://postman.coinapi.io/\" target=\"_blank\">https://postman.coinapi.io/</a>       <br/><br/> Implemented Standards:   * [HTTP1.0](https://datatracker.ietf.org/doc/html/rfc1945)  * [HTTP1.1](https://datatracker.ietf.org/doc/html/rfc2616)  * [HTTP2.0](https://datatracker.ietf.org/doc/html/rfc7540) 
 *
 * The version of the OpenAPI document: v1
 * Contact: support@coinapi.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Balance
import org.openapitools.client.model.MessageReject
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BalancesApi {

  def apply(baseUrl: String = "https://13d16e9d-d8b1-4ef4-bc4a-ed8156b2b159.mock.pstmn.io") = new BalancesApi(baseUrl)
}

class BalancesApi(baseUrl: String) {

  /**
   * Get current currency balance from all or single exchange.
   * 
   * Expected answers:
   *   code 200 : Seq[Balance] (Collection of balances.)
   *   code 490 : MessageReject (Exchange is unreachable.)
   * 
   * @param exchangeId Filter the balances to the specific exchange.
   */
  def v1BalancesGet(exchangeId: Option[String] = None): ApiRequest[Seq[Balance]] =
    ApiRequest[Seq[Balance]](ApiMethods.GET, baseUrl, "/v1/balances", "application/json")
      .withQueryParam("exchange_id", exchangeId)
      .withSuccessResponse[Seq[Balance]](200)
      .withErrorResponse[MessageReject](490)
      



}

