/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.V1ExchangeRate
import org.openapitools.client.models.V1ExchangeRates

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

class ExchangeRatesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api-realtime.exrates.coinapi.io")
        }
    }

    /**
     * GET /v1/exchangerate/{asset_id_base}/{asset_id_quote}
     * Get specific rate
     * Retrieves the exchange rate for a specific base and quote asset at a given time or the current rate.                :::info  If you are using an exchange rate for mission-critical operations, then for best reliability, you should measure the difference between current time and the time returned from the response to ensure that value of the difference between those meets your internal requirements.  :::
     * @param assetIdBase Requested exchange rate base asset identifier (from the Metadata -&gt; Assets)
     * @param assetIdQuote Requested exchange rate quote asset identifier (from the Metadata -&gt; Assets)
     * @return V1ExchangeRate
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSpecificRate(assetIdBase: kotlin.String, assetIdQuote: kotlin.String) : V1ExchangeRate {
        val localVarResponse = getSpecificRateWithHttpInfo(assetIdBase = assetIdBase, assetIdQuote = assetIdQuote)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as V1ExchangeRate
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/exchangerate/{asset_id_base}/{asset_id_quote}
     * Get specific rate
     * Retrieves the exchange rate for a specific base and quote asset at a given time or the current rate.                :::info  If you are using an exchange rate for mission-critical operations, then for best reliability, you should measure the difference between current time and the time returned from the response to ensure that value of the difference between those meets your internal requirements.  :::
     * @param assetIdBase Requested exchange rate base asset identifier (from the Metadata -&gt; Assets)
     * @param assetIdQuote Requested exchange rate quote asset identifier (from the Metadata -&gt; Assets)
     * @return ApiResponse<V1ExchangeRate?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSpecificRateWithHttpInfo(assetIdBase: kotlin.String, assetIdQuote: kotlin.String) : ApiResponse<V1ExchangeRate?> {
        val localVariableConfig = getSpecificRateRequestConfig(assetIdBase = assetIdBase, assetIdQuote = assetIdQuote)

        return request<Unit, V1ExchangeRate>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSpecificRate
     *
     * @param assetIdBase Requested exchange rate base asset identifier (from the Metadata -&gt; Assets)
     * @param assetIdQuote Requested exchange rate quote asset identifier (from the Metadata -&gt; Assets)
     * @return RequestConfig
     */
    fun getSpecificRateRequestConfig(assetIdBase: kotlin.String, assetIdQuote: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "text/plain, application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/exchangerate/{asset_id_base}/{asset_id_quote}".replace("{"+"asset_id_base"+"}", encodeURIComponent(assetIdBase.toString())).replace("{"+"asset_id_quote"+"}", encodeURIComponent(assetIdQuote.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/exchangerate/{asset_id_base}
     * Get all current rates
     * Get the current exchange rate between requested asset and all other assets.                :::info  If you are using an exchange rate for mission-critical operations, then for best reliability, you should measure the difference between current time and the time returned from the response to ensure that value of the difference between those meets your internal requirements.  :::                :::info  You can invert the rates by using Y &#x3D; 1 / X equation, for example BTC/USD &#x3D; 1 / (USD/BTC);  :::
     * @param assetIdBase Requested exchange rates base asset identifier (from the Metadata -&gt; Assets)
     * @param filterAssetId Comma or semicolon delimited asset identifiers used to filter response (optional) (optional)
     * @param invert True will invert all the rates (optional, if true then rates will be calculated as &#x60;rate &#x3D; 1 / actual_rate&#x60; eg. &#x60;USD/BTC&#x60; as &#x60;BTC/USD&#x60;) (optional, default to false)
     * @return V1ExchangeRates
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun v1ExchangerateAssetIdBaseGet(assetIdBase: kotlin.String, filterAssetId: kotlin.String? = null, invert: kotlin.Boolean? = false) : V1ExchangeRates {
        val localVarResponse = v1ExchangerateAssetIdBaseGetWithHttpInfo(assetIdBase = assetIdBase, filterAssetId = filterAssetId, invert = invert)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as V1ExchangeRates
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/exchangerate/{asset_id_base}
     * Get all current rates
     * Get the current exchange rate between requested asset and all other assets.                :::info  If you are using an exchange rate for mission-critical operations, then for best reliability, you should measure the difference between current time and the time returned from the response to ensure that value of the difference between those meets your internal requirements.  :::                :::info  You can invert the rates by using Y &#x3D; 1 / X equation, for example BTC/USD &#x3D; 1 / (USD/BTC);  :::
     * @param assetIdBase Requested exchange rates base asset identifier (from the Metadata -&gt; Assets)
     * @param filterAssetId Comma or semicolon delimited asset identifiers used to filter response (optional) (optional)
     * @param invert True will invert all the rates (optional, if true then rates will be calculated as &#x60;rate &#x3D; 1 / actual_rate&#x60; eg. &#x60;USD/BTC&#x60; as &#x60;BTC/USD&#x60;) (optional, default to false)
     * @return ApiResponse<V1ExchangeRates?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun v1ExchangerateAssetIdBaseGetWithHttpInfo(assetIdBase: kotlin.String, filterAssetId: kotlin.String?, invert: kotlin.Boolean?) : ApiResponse<V1ExchangeRates?> {
        val localVariableConfig = v1ExchangerateAssetIdBaseGetRequestConfig(assetIdBase = assetIdBase, filterAssetId = filterAssetId, invert = invert)

        return request<Unit, V1ExchangeRates>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation v1ExchangerateAssetIdBaseGet
     *
     * @param assetIdBase Requested exchange rates base asset identifier (from the Metadata -&gt; Assets)
     * @param filterAssetId Comma or semicolon delimited asset identifiers used to filter response (optional) (optional)
     * @param invert True will invert all the rates (optional, if true then rates will be calculated as &#x60;rate &#x3D; 1 / actual_rate&#x60; eg. &#x60;USD/BTC&#x60; as &#x60;BTC/USD&#x60;) (optional, default to false)
     * @return RequestConfig
     */
    fun v1ExchangerateAssetIdBaseGetRequestConfig(assetIdBase: kotlin.String, filterAssetId: kotlin.String?, invert: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (filterAssetId != null) {
                    put("filter_asset_id", listOf(filterAssetId.toString()))
                }
                if (invert != null) {
                    put("invert", listOf(invert.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "text/plain, application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/exchangerate/{asset_id_base}".replace("{"+"asset_id_base"+"}", encodeURIComponent(assetIdBase.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
