/**
 * REST API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * Contact: support@apibricks.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Asset
import org.openapitools.client.model.Exchange
import org.openapitools.client.model.Icon
import org.openapitools.client.model.Symbol
import org.openapitools.client.model.SymbolMapping
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object MetadataApi {

  def apply(baseUrl: String = "https://rest.coinapi.io") = new MetadataApi(baseUrl)
}

class MetadataApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Seq[Asset] (successful operation)
   * 
   * Available security schemes:
   *   ApiKey (apiKey)
   * 
   * @param assetId The asset ID.
   */
  def v1AssetsAssetIdGet(assetId: String)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[Asset]] =
    ApiRequest[Seq[Asset]](ApiMethods.GET, baseUrl, "/v1/assets/{asset_id}", "application/json")
      .withApiKey(apiKey, "X-CoinAPI-Key", HEADER)
      .withPathParam("asset_id", assetId)
      .withSuccessResponse[Seq[Asset]](200)
      

  /**
   * Retrieves all assets.                :::info  Our asset identifiers are aligned with the ISO 4217 currency codes standard only for fiat money (government or law regulated currency).  :::                :::info  Properties of the output are providing aggregated information from across all symbols related to the specific asset. If you need to calculate your aggregation (e.g., limiting only the particular type of symbols), you should use /v1/symbols endpoint as a data source.  :::
   * 
   * Expected answers:
   *   code 200 : Seq[Asset] (successful operation)
   * 
   * Available security schemes:
   *   ApiKey (apiKey)
   * 
   * @param filterAssetId Comma or semicolon delimited asset identifiers used to filter response. (optional, eg. `BTC;ETH`).
   */
  def v1AssetsGet(filterAssetId: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[Asset]] =
    ApiRequest[Seq[Asset]](ApiMethods.GET, baseUrl, "/v1/assets", "application/json")
      .withApiKey(apiKey, "X-CoinAPI-Key", HEADER)
      .withQueryParam("filter_asset_id", filterAssetId)
      .withSuccessResponse[Seq[Asset]](200)
      

  /**
   * Gets the list of icons (of the given size) for all the assets.
   * 
   * Expected answers:
   *   code 200 : Seq[Icon] (successful operation)
   * 
   * Available security schemes:
   *   ApiKey (apiKey)
   * 
   * @param size The size of the icons.
   */
  def v1AssetsIconsSizeGet(size: Int)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[Icon]] =
    ApiRequest[Seq[Icon]](ApiMethods.GET, baseUrl, "/v1/assets/icons/{size}", "application/json")
      .withApiKey(apiKey, "X-CoinAPI-Key", HEADER)
      .withPathParam("size", size)
      .withSuccessResponse[Seq[Icon]](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Exchange] (successful operation)
   * 
   * Available security schemes:
   *   ApiKey (apiKey)
   * 
   * @param exchangeId The ID of the exchange.
   */
  def v1ExchangesExchangeIdGet(exchangeId: String)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[Exchange]] =
    ApiRequest[Seq[Exchange]](ApiMethods.GET, baseUrl, "/v1/exchanges/{exchange_id}", "application/json")
      .withApiKey(apiKey, "X-CoinAPI-Key", HEADER)
      .withPathParam("exchange_id", exchangeId)
      .withSuccessResponse[Seq[Exchange]](200)
      

  /**
   * Get a detailed list of exchanges provided by the system.                :::info  Properties of the output are providing aggregated information from across all symbols related to the specific exchange. If you need to calculate your aggregation (e.g., limiting only the particular type of symbols), you should use /v1/symbols endpoint as a data source.  :::
   * 
   * Expected answers:
   *   code 200 : Seq[Exchange] (successful operation)
   * 
   * Available security schemes:
   *   ApiKey (apiKey)
   * 
   * @param filterExchangeId Comma or semicolon delimited exchange identifiers used to filter response. (optional, eg. `BITSTAMP;GEMINI`)
   */
  def v1ExchangesGet(filterExchangeId: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[Exchange]] =
    ApiRequest[Seq[Exchange]](ApiMethods.GET, baseUrl, "/v1/exchanges", "application/json")
      .withApiKey(apiKey, "X-CoinAPI-Key", HEADER)
      .withQueryParam("filter_exchange_id", filterExchangeId)
      .withSuccessResponse[Seq[Exchange]](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Icon] (successful operation)
   * 
   * Available security schemes:
   *   ApiKey (apiKey)
   * 
   * @param size The size of the icons.
   */
  def v1ExchangesIconsSizeGet(size: Int)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[Icon]] =
    ApiRequest[Seq[Icon]](ApiMethods.GET, baseUrl, "/v1/exchanges/icons/{size}", "application/json")
      .withApiKey(apiKey, "X-CoinAPI-Key", HEADER)
      .withPathParam("size", size)
      .withSuccessResponse[Seq[Icon]](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Symbol] (successful operation)
   * 
   * Available security schemes:
   *   ApiKey (apiKey)
   * 
   * @param exchangeId The ID of the exchange (from the Metadata -> Exchanges)
   * @param filterSymbolId The filter for symbol ID.
   * @param filterAssetId The filter for asset ID.
   */
  def v1SymbolsExchangeIdGet(exchangeId: String, filterSymbolId: Option[String] = None, filterAssetId: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[Symbol]] =
    ApiRequest[Seq[Symbol]](ApiMethods.GET, baseUrl, "/v1/symbols/{exchange_id}", "application/json")
      .withApiKey(apiKey, "X-CoinAPI-Key", HEADER)
      .withQueryParam("filter_symbol_id", filterSymbolId)
      .withQueryParam("filter_asset_id", filterAssetId)
      .withPathParam("exchange_id", exchangeId)
      .withSuccessResponse[Seq[Symbol]](200)
      

  /**
   * Retrieves all symbols with optional filtering.                :::info  \"price_precision\" and \"size_precision\" are data precisions and are not always the same precisions used for trading eg. for the \"BINANCE\" exchanges.  :::                :::info  You should not assume that the market data will be always within the resolution provided by the \"price_precision\" and \"size_precision\". The fact that the precision values can be derived from a posterior implies the fact that this data could be delayed, also it can be changed by the data source without notice and we will immediately deliver data with the new precision while could not update the precision values in this endpoint immediately.  :::                ### Symbol identifier                Our symbol identifier is created using a pattern that depends on symbol type.                Type | `symbol_id` pattern  --------- | ---------  SPOT | `{exchange_id}_SPOT_{asset_id_base}_{asset_id_quote}`  FUTURES | `{exchange_id}_FTS_{asset_id_base}_{asset_id_quote}_{YYMMDD of future_delivery_time}`  OPTION | `{exchange_id}_OPT_{asset_id_base}_{asset_id_quote}_{YYMMDD of option_expiration_time}_{option_strike_price}_{option_type_is_call as C/P}`  PERPETUAL | `{exchange_id}_PERP_{asset_id_base}_{asset_id_quote}`  INDEX | `{exchange_id}_IDX_{index_id}`  CREDIT | `{exchange_id}_CRE_{asset_id_base}`  CONTACT  | `{exchange_id}_COT_{contract_id}`                :::info  In the unlikely event when the \"symbol_id\" for more than one market is the same. We will append the additional term (prefixed with the \"_\") at the end of the duplicated identifiers to differentiate them.  :::info                ### Symbol types list (enumeration of `symbol_type` output variable)                Type | Name | Description  -------- | - | -----------  SPOT | FX Spot | Agreement to exchange one asset for another one *(e.g. Buy BTC for USD)*  FUTURES | Futures contract | FX Spot derivative contract where traders agree to trade fx spot at predetermined future time  OPTION | Option contract | FX Spot derivative contract where traders agree to trade right to require buy or sell of fx spot at agreed price on exercise date  PERPETUAL | Perpetual contract | FX Spot derivative contract where traders agree to trade fx spot continously without predetermined future delivery time  INDEX | Index | Statistical composite that measures changes in the economy or markets.  CREDIT | Credit/Funding | Margin funding contract. Order book displays lending offers and borrow bids. Price represents the daily rate.  CONTRACT | Contract | Represents other types of financial instruments *(e.g. spreads, interest rate swap)*                ### Additional output variables for `symbol_type = INDEX`                Variable | Description  --------- | -----------  index_id | Index identifier  index_display_name | Human readable name of the index *(optional)*  index_display_description | Description of the index *(optional)*                ### Additional output variables for `symbol_type = FUTURES`                Variable | Description  --------- | -----------  future_delivery_time | Predetermined time of futures contract delivery date in ISO 8601  future_contract_unit | Contact size *(eg. 10 BTC if `future_contract_unit` = `10` and `future_contract_unit_asset` = `BTC`)*  future_contract_unit_asset | Identifier of the asset used to denominate the contract unit                ### Additional output variables for `symbol_type = PERPETUAL`                Variable | Description  --------- | -----------  future_contract_unit | Contact size *(eg. 10 BTC if `future_contract_unit` = `10` and `future_contract_unit_asset` = `BTC`)*  future_contract_unit_asset | Identifier of the asset used to denominate the contract unit                ### Additional output variables for `symbol_type = OPTION`                Variable | Description  --------- | -----------  option_type_is_call | Boolean value representing option type. `true` for Call options, `false` for Put options  option_strike_price | Price at which option contract can be exercised  option_contract_unit | Base asset amount of underlying spot which single option represents  option_exercise_style | Option exercise style. Can be `EUROPEAN` or `AMERICAN`  option_expiration_time | Option contract expiration time in ISO 8601                ### Additional output variables for `symbol_type = CONTRACT`                Variable | Description  --------- | -----------  contract_delivery_time | Predetermined time of contract delivery date in ISO 8601  contract_unit | Contact size *(eg. 10 BTC if `contract_unit` = `10` and `contract_unit_asset` = `BTC`)*  contract_unit_asset | Identifier of the asset used to denominate the contract unit  contract_id | Identifier of contract by the exchange
   * 
   * Expected answers:
   *   code 200 : Seq[Symbol] (successful operation)
   * 
   * Available security schemes:
   *   ApiKey (apiKey)
   * 
   * @param filterSymbolId Comma or semicolon delimited parts of symbol identifier used to filter response. (optional, eg. `BITSTAMP`_ or `BINANCE_SPOT_`)
   * @param filterExchangeId The filter for exchange ID.
   * @param filterAssetId The filter for asset ID.
   */
  def v1SymbolsGet(filterSymbolId: Option[String] = None, filterExchangeId: Option[String] = None, filterAssetId: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[Symbol]] =
    ApiRequest[Seq[Symbol]](ApiMethods.GET, baseUrl, "/v1/symbols", "application/json")
      .withApiKey(apiKey, "X-CoinAPI-Key", HEADER)
      .withQueryParam("filter_symbol_id", filterSymbolId)
      .withQueryParam("filter_exchange_id", filterExchangeId)
      .withQueryParam("filter_asset_id", filterAssetId)
      .withSuccessResponse[Seq[Symbol]](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[SymbolMapping] (successful operation)
   * 
   * Available security schemes:
   *   ApiKey (apiKey)
   * 
   * @param exchangeId The ID of the exchange (from the Metadata -> Exchanges)
   */
  def v1SymbolsMapExchangeIdGet(exchangeId: String)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[SymbolMapping]] =
    ApiRequest[Seq[SymbolMapping]](ApiMethods.GET, baseUrl, "/v1/symbols/map/{exchange_id}", "application/json")
      .withApiKey(apiKey, "X-CoinAPI-Key", HEADER)
      .withPathParam("exchange_id", exchangeId)
      .withSuccessResponse[Seq[SymbolMapping]](200)
      



}

