/**
 * CoinAPI Market Data REST API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * Contact: support@apibricks.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.OptionExchangeGroup
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OptionsApi {

  def apply(baseUrl: String = "https://rest.coinapi.io") = new OptionsApi(baseUrl)
}

class OptionsApi(baseUrl: String) {

  /**
   * Get current options data for a specific exchange.  Returns option data grouped by underlying asset, quote currency, and expiration time, with quotes for both calls and puts at each strike price.
   * 
   * Expected answers:
   *   code 200 : Seq[OptionExchangeGroup] (successful operation)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   * 
   * @param exchangeId Exchange identifier (from the Metadata -> Exchanges)
   */
  def v1OptionsExchangeIdCurrentGet(exchangeId: String)(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Seq[OptionExchangeGroup]] =
    ApiRequest[Seq[OptionExchangeGroup]](ApiMethods.GET, baseUrl, "/v1/options/{exchange_id}/current", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withPathParam("exchange_id", exchangeId)
      .withSuccessResponse[Seq[OptionExchangeGroup]](200)
      



}

