/**
 * REST API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * Contact: support@apibricks.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.OrderBookBase
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OrderBookL3Api {

  def apply(baseUrl: String = "https://rest.coinapi.io") = new OrderBookL3Api(baseUrl)
}

class OrderBookL3Api(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Seq[OrderBookBase] (successful operation)
   * 
   * Available security schemes:
   *   ApiKey (apiKey)
   * 
   * @param filterSymbolId Comma or semicolon delimited parts of symbol identifier used to filter the response.
   * @param limitLevels The maximum number of levels to include in the response.
   */
  def v1Orderbooks3CurrentGet(filterSymbolId: Option[String] = None, limitLevels: Option[Int] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[OrderBookBase]] =
    ApiRequest[Seq[OrderBookBase]](ApiMethods.GET, baseUrl, "/v1/orderbooks3/current", "application/json")
      .withApiKey(apiKey, "X-CoinAPI-Key", HEADER)
      .withQueryParam("filter_symbol_id", filterSymbolId)
      .withQueryParam("limit_levels", limitLevels)
      .withSuccessResponse[Seq[OrderBookBase]](200)
      

  /**
   * Retrieves the current order book for the specified symbol.
   * 
   * Expected answers:
   *   code 200 : OrderBookBase (successful operation)
   * 
   * Available security schemes:
   *   ApiKey (apiKey)
   * 
   * @param symbolId The symbol ID (from the Metadata -> Symbols)
   * @param limitLevels The maximum number of levels to include in the response.
   */
  def v1Orderbooks3SymbolIdCurrentGet(symbolId: String, limitLevels: Option[Int] = None)(implicit apiKey: ApiKeyValue): ApiRequest[OrderBookBase] =
    ApiRequest[OrderBookBase](ApiMethods.GET, baseUrl, "/v1/orderbooks3/{symbol_id}/current", "application/json")
      .withApiKey(apiKey, "X-CoinAPI-Key", HEADER)
      .withQueryParam("limit_levels", limitLevels)
      .withPathParam("symbol_id", symbolId)
      .withSuccessResponse[OrderBookBase](200)
      



}

