/**
 * REST API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * Contact: support@apibricks.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.DTOFilingMetadataDto;
import org.openapitools.client.model.DTOFilingSortBy;
import java.util.*;
import org.openapitools.client.model.MvcProblemDetails;
import org.openapitools.client.model.MvcValidationProblemDetails;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class FilingMetadataApi {
  String basePath = "https://api.sec.finfeedapi.com";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Query SEC filing metadata
  * Retrieves metadata for SEC filings based on various filter criteria with pagination and sorting support.    ### Available Sort Fields    Field Name | Description  -----------|-------------  AccessionNumber | SEC filing accession number  FilingDate | Date when filing was submitted  AcceptanceDateTime | Date and time of filing acceptance  ReportDate | Date of the report  Size | Size of the filing document    ### Date Format  All dates must be provided in YYYY-MM-DD format    ### Form Types  Form types can be provided as comma-separated values, e.g.: \&quot;10-K,8-K,10-Q\&quot;    :::tip  For optimal performance, use date ranges and form types to narrow down your search  :::
   * @param cik Filter by Central Index Key (CIK)
   * @param ticker Filter by stock ticker symbol
   * @param formType Filter by form type(s) (e.g., \&quot;10-K\&quot;, \&quot;8-K\&quot;). Multiple values can be comma-separated
   * @param fillingDateStart Filter by filling date start (inclusive), format YYYY-MM-DD
   * @param fillingDateEnd Filter by filling date end (inclusive), format YYYY-MM-DD
   * @param reportDateStart Filter by report date start (inclusive), format YYYY-MM-DD
   * @param reportDateEnd Filter by report date end (inclusive), format YYYY-MM-DD
   * @param itemsContain Filter filings where the &#39;Items&#39; field contains the specified text
   * @param pageSize Number of results per page (default: 50, max: 200)
   * @param pageNumber Page number to retrieve (default: 1)
   * @param sortBy Field to sort results by (default: AccessionNumber)
   * @param sortOrder Sort order (asc or desc, default: desc)
   * @return List<DTOFilingMetadataDto>
  */
  public List<DTOFilingMetadataDto> v1FilingsGet (Long cik, String ticker, String formType, String fillingDateStart, String fillingDateEnd, String reportDateStart, String reportDateEnd, String itemsContain, Integer pageSize, Integer pageNumber, DTOFilingSortBy sortBy, String sortOrder) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/v1/filings";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "cik", cik));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticker", ticker));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "form_type", formType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filling_date_start", fillingDateStart));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filling_date_end", fillingDateEnd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "report_date_start", reportDateStart));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "report_date_end", reportDateEnd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "items_contain", itemsContain));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_number", pageNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort_by", sortBy));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort_order", sortOrder));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<DTOFilingMetadataDto>) ApiInvoker.deserialize(localVarResponse, "array", DTOFilingMetadataDto.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Query SEC filing metadata
   * Retrieves metadata for SEC filings based on various filter criteria with pagination and sorting support.    ### Available Sort Fields    Field Name | Description  -----------|-------------  AccessionNumber | SEC filing accession number  FilingDate | Date when filing was submitted  AcceptanceDateTime | Date and time of filing acceptance  ReportDate | Date of the report  Size | Size of the filing document    ### Date Format  All dates must be provided in YYYY-MM-DD format    ### Form Types  Form types can be provided as comma-separated values, e.g.: \&quot;10-K,8-K,10-Q\&quot;    :::tip  For optimal performance, use date ranges and form types to narrow down your search  :::
   * @param cik Filter by Central Index Key (CIK)   * @param ticker Filter by stock ticker symbol   * @param formType Filter by form type(s) (e.g., \&quot;10-K\&quot;, \&quot;8-K\&quot;). Multiple values can be comma-separated   * @param fillingDateStart Filter by filling date start (inclusive), format YYYY-MM-DD   * @param fillingDateEnd Filter by filling date end (inclusive), format YYYY-MM-DD   * @param reportDateStart Filter by report date start (inclusive), format YYYY-MM-DD   * @param reportDateEnd Filter by report date end (inclusive), format YYYY-MM-DD   * @param itemsContain Filter filings where the &#39;Items&#39; field contains the specified text   * @param pageSize Number of results per page (default: 50, max: 200)   * @param pageNumber Page number to retrieve (default: 1)   * @param sortBy Field to sort results by (default: AccessionNumber)   * @param sortOrder Sort order (asc or desc, default: desc)
  */
  public void v1FilingsGet (Long cik, String ticker, String formType, String fillingDateStart, String fillingDateEnd, String reportDateStart, String reportDateEnd, String itemsContain, Integer pageSize, Integer pageNumber, DTOFilingSortBy sortBy, String sortOrder, final Response.Listener<List<DTOFilingMetadataDto>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/v1/filings".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "cik", cik));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticker", ticker));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "form_type", formType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filling_date_start", fillingDateStart));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filling_date_end", fillingDateEnd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "report_date_start", reportDateStart));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "report_date_end", reportDateEnd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "items_contain", itemsContain));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_number", pageNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort_by", sortBy));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort_order", sortOrder));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<DTOFilingMetadataDto>) ApiInvoker.deserialize(localVarResponse,  "array", DTOFilingMetadataDto.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
