/**
 * REST API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * Contact: support@apibricks.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ProblemDetails
import org.openapitools.client.model.SecFilingResultDto
import org.openapitools.client.model.ValidationProblemDetails
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object FullTextSearchApi {

  def apply(baseUrl: String = "https://api-historical.sec.finfeedapi.com") = new FullTextSearchApi(baseUrl)
}

class FullTextSearchApi(baseUrl: String) {

  /**
   * Search across SEC filing documents with advanced filtering and sorting capabilities.    ### Available Sort Fields    Field Name | Description  -----------|-------------  AccessionNumber | SEC filing accession number  FormType | Type of the filing document  FilingDate | Date when filing was submitted  CompanyName | Name of the company  CIK | Central Index Key  DocumentFilename | Name of the filing document  DocumentDescription | Description of the document    ### Search Options    Option | Description  --------|-------------  text_contains | Keywords that must appear in the document  text_not_contain | Keywords that must not appear in the document    ### Date Format  All dates must be provided in YYYY-MM-DD format    :::tip  Use text_contains and text_not_contain with multiple keywords separated by commas for more precise searches  :::    :::note  The search is case-insensitive and supports partial word matches  :::
   * 
   * Expected answers:
   *   code 200 : Seq[SecFilingResultDto] (Successful operation)
   *   code 400 : ValidationProblemDetails (Invalid request)
   *   code 500 : ProblemDetails (Server error)
   * 
   * @param formType Filter by form type (e.g., \"10-K\", \"8-K\"). Multiple values can be comma-separated
   * @param fillingDateStart Filter by filling date start (inclusive), format YYYY-MM-DD
   * @param fillingDateEnd Filter by filling date end (inclusive), format YYYY-MM-DD
   * @param textContains Keywords that the text must contain. Multiple values can be comma-separated
   * @param textNotContain Keywords that the text must not contain. Multiple values can be comma-separated
   * @param pageSize Number of results per page (default: 100)
   * @param pageNumber Page number to retrieve (default: 1)
   * @param sortBy Field to sort by (default: AccessionNumber)
   * @param sortOrder Sort order (asc or desc). Defaults to asc
   */
  def v1FullTextGet(formType: Option[String] = None, fillingDateStart: Option[String] = None, fillingDateEnd: Option[String] = None, textContains: Option[String] = None, textNotContain: Option[String] = None, pageSize: Option[Int] = None, pageNumber: Option[Int] = None, sortBy: Option[String] = None, sortOrder: Option[String] = None): ApiRequest[Seq[SecFilingResultDto]] =
    ApiRequest[Seq[SecFilingResultDto]](ApiMethods.GET, baseUrl, "/v1/full-text", "application/json")
      .withQueryParam("form_type", formType)
      .withQueryParam("filling_date_start", fillingDateStart)
      .withQueryParam("filling_date_end", fillingDateEnd)
      .withQueryParam("text_contains", textContains)
      .withQueryParam("text_not_contain", textNotContain)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("page_number", pageNumber)
      .withQueryParam("sort_by", sortBy)
      .withQueryParam("sort_order", sortOrder)
      .withSuccessResponse[Seq[SecFilingResultDto]](200)
      .withErrorResponse[ValidationProblemDetails](400)
      .withErrorResponse[ProblemDetails](500)
      



}

