openapi: 3.0.4
info:
  contact:
    email: support@apibricks.io
    name: API BRICKS LTD
    url: https://www.coinapi.io
  license:
    name: MIT License
    url: https://github.com/api-bricks/api-bricks-sdk/blob/master/LICENSE
  title: CoinAPI Market Data REST API
  version: v1
servers:
- url: https://rest.coinapi.io
security:
- APIKey: []
- JWT: []
tags:
- description: "\nExchange rate is defined as (VWAP-24H) last 24 hour (rolling window\
    \ over time) Volume Weighted Average Price across multiple data sources listed\
    \ on our platform. We are selecting and managing the data sources that are used\
    \ in the calculation based on multiple factors to provide data of highest quality.\
    \ \n\nAlgorithm is described below:\n\n  1. Exchange rates are produced from quotes,\
    \ trades, and metadata datasets.\n  1. Symbols that are not data_type = \"SPOT\"\
    \ are excluded from the calculation.\n  1. Symbols from the data sources that\
    \ were marked by us as not legitimate are excluded from the calculation.\n  1.\
    \ Quotes data where the spread is outside the range of ```<0$; 67%>``` are discarded.\
    \ `spreadPrc = (ask - bid) / ((ask + bid) / 2)`\n  1. The midpoint from the quote\
    \ data is used as a pricing reference and it's weighted by the passive cumulative\
    \ volume resting on the best prices.\n  1. Volume from the trades is used to weight\
    \ the midpoint prices in the VWAP24 algorithm.\n  1. Midpoint data that has not\
    \ been updated in the last 5 minutes and 1 second is discarded.\n  1. The last\
    \ 24-hour volume for each symbol is updated every 4 hours when approximately 20%\
    \ of the data in the sliding window changes (also, the list of eligible markets\
    \ is updated at the same time).\n  1. Everywhere in the algorithm below, we are\
    \ using asset pairs only from exchanges that have the highest legitimacy rank,\
    \ and the rest of the exchanges are discarded. As we establish the highest-ranking\
    \ exchanges that have this data for each asset pair, we ensure that the highest\
    \ quality data is used for each of them. The rank used for asset pairing is carried\
    \ over to the following steps.\n  1. Every 1 second, we update VWAP24 data for\
    \ every asset pair across all data sources.\n  1. For each asset pair, we also\
    \ discard data that is outside the 3 sigma range if there are at least 3 exchanges\
    \ for this asset pair.\n  1. From the VWAP24 data, we are creating a tree structure\
    \ where node/vertex = asset and edge = rate.\n  1. By traversing the tree structure\
    \ using the BFS algorithm and our secret sauce, we are able to establish the final\
    \ exchange rates.\n    "
  name: Exchange Rates
- description: |2-

    This section describes calls related to order book data, also known as books or passive level 3 data.
  name: Order Book L3
- description: |2-

    This section describes calls related to order book data, also known as books or passive level 2 data.

    :::info
    When requesting current data for a specific symbol, output is not encapsulated into JSON array as only one item is returned.
    :::

    :::info
    GET `/v1/orderbooks/current` endpoint is charged one request per 100 data points returned after applying a filter defined by filter_symbol_id parameter. If filter symbols target more than one exchange, error is returned.
    :::

    :::info
    When requesting current order book data limited to a single level, then quotes are actually used. This information is important from the perspective that quotes data could be faster than order book data (behavior is dependent solely one the data source) and they can have the size equal to 0 when the size is unknown. Some data sources publish order books and separately quote data (without the sizes) at a higher frequency. In that case, we will merge the order book feed with quotes feed to make sure that our updates are as fast as possible. The quotes will have the size equal to 0 as the value is unknown and the customer can decide if these higher frequency updates without the sizes are valuable or if not then can discard them or ask for at least 2 order book levels (in case of a REST API call). For the data sources that publish order books only or order books and quotes with the sizes then this will not happen.
    :::
  name: Order Book
- description: "\nAPI calls described in this section are related to downloading OHLCV\
    \ *(Open, High, Low, Close, Volume)* timeseries data.\nEach data point of this\
    \ timeseries represents several indicators calculated from transactions activity\
    \ inside a time range (period).\n\n:::info\nOHLCV data primary purpose is to present\
    \ an overview of the market in human readable form. \nIt's often used to visualize\
    \ market data on charts, websites, and various kinds of reports.\n:::\n\n:::tip\n\
    CoinAPI expanded the standard OHLCV timeseries by including time of first and\
    \ last trade and amount of trades executed inside period.\n:::\n    "
  name: Ohlcv
- description: ""
  name: Metadata
- description: |-
    Metrics are quantitative measurements used to evaluate the performance and activity of cryptocurrency exchanges. These metrics include:

    1. Trading Volume: The total amount of cryptocurrency traded on an exchange within a specific time period, indicating liquidity and activity.
    1. Market Depth: The level of buy and sell orders at different price levels, providing insights into liquidity and potential price impact.
    1. Order Book: A record of outstanding buy and sell orders for a cryptocurrency, reflecting supply and demand dynamics.
    1. Spread: The difference between the highest bid and lowest ask prices, indicating liquidity and trading costs.
    1. Price Charts: Visual representations of cryptocurrency price movements over time, helping identify trends and inform trading decisions.
    1. Market Cap: The total value of a cryptocurrency calculated by its price multiplied by circulating supply, reflecting relative size and value.
    1. Trading Pairs: Combinations of cryptocurrencies available for trading, including volume, price, and spread for each pair.
    1. User Metrics: Data on active users, new registrations, user retention, and engagement, indicating platform popularity and growth.
    1. Trading Fees: Fees charged for executing trades, including fee structure, discounts, and revenue generated by the exchange.
    1. Security Metrics: Measures assessing the security of an exchange, such as past incidents, user fund protection, and security audits.

    These metrics assist traders and investors in evaluating market activity, liquidity, and the reliability of crypto exchanges for informed decision-making.
  name: MetricsV1
- description: |-
    Metrics are quantitative measurements used to evaluate the performance and activity of cryptocurrency exchanges. These metrics include:

    1. Trading Volume: The total amount of cryptocurrency traded on an exchange within a specific time period, indicating liquidity and activity.
    1. Market Depth: The level of buy and sell orders at different price levels, providing insights into liquidity and potential price impact.
    1. Order Book: A record of outstanding buy and sell orders for a cryptocurrency, reflecting supply and demand dynamics.
    1. Spread: The difference between the highest bid and lowest ask prices, indicating liquidity and trading costs.
    1. Price Charts: Visual representations of cryptocurrency price movements over time, helping identify trends and inform trading decisions.
    1. Market Cap: The total value of a cryptocurrency calculated by its price multiplied by circulating supply, reflecting relative size and value.
    1. Trading Pairs: Combinations of cryptocurrencies available for trading, including volume, price, and spread for each pair.
    1. User Metrics: Data on active users, new registrations, user retention, and engagement, indicating platform popularity and growth.
    1. Trading Fees: Fees charged for executing trades, including fee structure, discounts, and revenue generated by the exchange.
    1. Security Metrics: Measures assessing the security of an exchange, such as past incidents, user fund protection, and security audits.

    These metrics assist traders and investors in evaluating market activity, liquidity, and the reliability of crypto exchanges for informed decision-making.
  name: MetricsV2
- description: This set of endpoints providing easy access to data related to Options
    Markets.
  name: Options
- description: Controller for managing order book L3 data.
  name: OrderBooks3
- description: Controller for managing order book data.
  name: OrderBooks
- description: "Controller for retrieving quotes data, also known as quotes or passive\
    \ level 1 data."
  name: Quotes
- description: "Controller for retrieving OHLCV (Open, High, Low, Close, Volume) timeseries\
    \ data."
  name: TimeSeries
- description: Controller for retrieving trade data related to executed transactions.
  name: Trades
- description: Controller for accessing asset information.
  name: Assets
- description: Controller for accessing blockchain chain information.
  name: Chains
- description: Controller for retrieving symbol information.
  name: Symbols
paths:
  /v1/assets:
    get:
      description: "Retrieves all assets.\n            \n:::info\nOur asset identifiers\
        \ are aligned with the ISO 4217 currency codes standard only for fiat money\
        \ (government or law regulated currency).\n:::\n            \n:::info\nProperties\
        \ of the output are providing aggregated information from across all symbols\
        \ related to the specific asset. If you need to calculate your aggregation\
        \ (e.g., limiting only the particular type of symbols), you should use /v1/symbols\
        \ endpoint as a data source.\n:::"
      parameters:
      - description: "Comma or semicolon delimited asset identifiers used to filter\
          \ response. (optional, eg. `BTC;ETH`)."
        explode: true
        in: query
        name: filter_asset_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: '#/components/schemas/v1.Asset'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: '#/components/schemas/v1.Asset'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: '#/components/schemas/v1.Asset'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: '#/components/schemas/v1.Asset'
                type: array
          description: successful operation
      summary: List all assets
      tags:
      - Metadata
  /v1/assets/{asset_id}:
    get:
      parameters:
      - description: The asset ID.
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: '#/components/schemas/v1.Asset'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: '#/components/schemas/v1.Asset'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: '#/components/schemas/v1.Asset'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: '#/components/schemas/v1.Asset'
                type: array
          description: successful operation
      summary: List all assets by asset ID
      tags:
      - Metadata
  /v1/assets/icons/{size}:
    get:
      description: Gets the list of icons (of the given size) for all the assets.
      parameters:
      - description: The size of the icons.
        explode: false
        in: path
        name: size
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/f231d7382689406f9a50dde841418c64.png
                  - asset_id: ETH
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/04836ff3bc4d4d95820e0155594dca86.png
                  - asset_id: USD
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/4873707f25fe4de3b4bca6fa5c631011.png
              schema:
                items:
                  $ref: '#/components/schemas/v1.Icon'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/f231d7382689406f9a50dde841418c64.png
                  - asset_id: ETH
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/04836ff3bc4d4d95820e0155594dca86.png
                  - asset_id: USD
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/4873707f25fe4de3b4bca6fa5c631011.png
              schema:
                items:
                  $ref: '#/components/schemas/v1.Icon'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/f231d7382689406f9a50dde841418c64.png
                  - asset_id: ETH
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/04836ff3bc4d4d95820e0155594dca86.png
                  - asset_id: USD
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/4873707f25fe4de3b4bca6fa5c631011.png
              schema:
                items:
                  $ref: '#/components/schemas/v1.Icon'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/f231d7382689406f9a50dde841418c64.png
                  - asset_id: ETH
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/04836ff3bc4d4d95820e0155594dca86.png
                  - asset_id: USD
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/4873707f25fe4de3b4bca6fa5c631011.png
              schema:
                items:
                  $ref: '#/components/schemas/v1.Icon'
                type: array
          description: successful operation
      summary: List all asset icons
      tags:
      - Metadata
  /v1/chains:
    get:
      description: "Retrieves all blockchain chains supported by the system.\n   \
        \         \n:::info\nProperties of the output are providing aggregated information\
        \ from across all symbols related to the specific chain. If you need to calculate\
        \ your aggregation (e.g., limiting only the particular type of symbols), you\
        \ should use /v1/symbols endpoint as a data source.\n:::"
      parameters:
      - description: "Comma or semicolon delimited chain identifiers used to filter\
          \ response. (optional, eg. `ETHEREUM;ARBITRUM`)."
        explode: true
        in: query
        name: filter_chain_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: '#/components/schemas/v1.Chain'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: '#/components/schemas/v1.Chain'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: '#/components/schemas/v1.Chain'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: '#/components/schemas/v1.Chain'
                type: array
          description: successful operation
      summary: List all blockchain chains
      tags:
      - Metadata
  /v1/chains/{chain_id}:
    get:
      parameters:
      - description: The chain ID.
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: '#/components/schemas/v1.Chain'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: '#/components/schemas/v1.Chain'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: '#/components/schemas/v1.Chain'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: '#/components/schemas/v1.Chain'
                type: array
          description: successful operation
      summary: List all chains by chain ID
      tags:
      - Metadata
  /v1/exchangerate/{asset_id_base}/{asset_id_quote}:
    get:
      description: "Retrieves the exchange rate for a specific base and quote asset\
        \ at a given time or the current rate.\n            \n:::info\nIf you are\
        \ using an exchange rate for mission-critical operations, then for best reliability,\
        \ you should measure the difference between current time and the time returned\
        \ from the response to ensure that value of the difference between those meets\
        \ your internal requirements.\n:::"
      operationId: Get specific rate
      parameters:
      - description: Requested exchange rate base asset identifier (from the Metadata
          -> Assets)
        explode: false
        in: path
        name: asset_id_base
        required: true
        schema:
          type: string
        style: simple
      - description: Requested exchange rate quote asset identifier (from the Metadata
          -> Assets)
        explode: false
        in: path
        name: asset_id_quote
        required: true
        schema:
          type: string
        style: simple
      - description: "Time at which exchange rate is calculated (optional, if not\
          \ supplied then current rate is returned)"
        explode: true
        in: query
        name: time
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                    time: 2025-06-20T06:04:21.0944058Z
                    asset_id_base: BTC
                    asset_id_quote: USD
                    rate: 10000.0
              schema:
                $ref: '#/components/schemas/v1.ExchangeRate'
            application/json:
              examples:
                Example response:
                  value:
                    time: 2025-06-20T06:04:21.0944058Z
                    asset_id_base: BTC
                    asset_id_quote: USD
                    rate: 10000.0
              schema:
                $ref: '#/components/schemas/v1.ExchangeRate'
            text/json:
              examples:
                Example response:
                  value:
                    time: 2025-06-20T06:04:21.0944058Z
                    asset_id_base: BTC
                    asset_id_quote: USD
                    rate: 10000.0
              schema:
                $ref: '#/components/schemas/v1.ExchangeRate'
            application/x-msgpack:
              examples:
                Example response:
                  value:
                    time: 2025-06-20T06:04:21.0944058Z
                    asset_id_base: BTC
                    asset_id_quote: USD
                    rate: 10000.0
              schema:
                $ref: '#/components/schemas/v1.ExchangeRate'
          description: successful operation
      summary: Get specific rate
      tags:
      - Exchange Rates
  /v1/exchangerate/{asset_id_base}:
    get:
      description: "Get the current exchange rate between requested asset and all\
        \ other assets.\n            \n:::info\nIf you are using an exchange rate\
        \ for mission-critical operations, then for best reliability, you should measure\
        \ the difference between current time and the time returned from the response\
        \ to ensure that value of the difference between those meets your internal\
        \ requirements.\n:::\n            \n:::info\nYou can invert the rates by using\
        \ Y = 1 / X equation, for example BTC/USD = 1 / (USD/BTC);\n:::"
      parameters:
      - description: Requested exchange rates base asset identifier (from the Metadata
          -> Assets)
        explode: false
        in: path
        name: asset_id_base
        required: true
        schema:
          type: string
        style: simple
      - description: Comma or semicolon delimited asset identifiers used to filter
          response (optional)
        explode: true
        in: query
        name: filter_asset_id
        required: false
        schema:
          type: string
        style: form
      - description: "True will invert all the rates (optional, if true then rates\
          \ will be calculated as `rate = 1 / actual_rate` eg. `USD/BTC` as `BTC/USD`)"
        explode: true
        in: query
        name: invert
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Time for historical rates (optional)
        explode: true
        in: query
        name: time
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                    asset_id_base: BTC
                    rates:
                    - time: 2017-08-09T14:31:37.0520000Z
                      asset_id_quote: USD
                      rate: 3258.887541779804
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: EUR
                      rate: 2782.5255080599272
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: CNY
                      rate: 21756.295595926054
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: GBP
                      rate: 2509.602420379958
              schema:
                $ref: '#/components/schemas/v1.ExchangeRates'
            application/json:
              examples:
                Example response:
                  value:
                    asset_id_base: BTC
                    rates:
                    - time: 2017-08-09T14:31:37.0520000Z
                      asset_id_quote: USD
                      rate: 3258.887541779804
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: EUR
                      rate: 2782.5255080599272
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: CNY
                      rate: 21756.295595926054
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: GBP
                      rate: 2509.602420379958
              schema:
                $ref: '#/components/schemas/v1.ExchangeRates'
            text/json:
              examples:
                Example response:
                  value:
                    asset_id_base: BTC
                    rates:
                    - time: 2017-08-09T14:31:37.0520000Z
                      asset_id_quote: USD
                      rate: 3258.887541779804
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: EUR
                      rate: 2782.5255080599272
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: CNY
                      rate: 21756.295595926054
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: GBP
                      rate: 2509.602420379958
              schema:
                $ref: '#/components/schemas/v1.ExchangeRates'
            application/x-msgpack:
              examples:
                Example response:
                  value:
                    asset_id_base: BTC
                    rates:
                    - time: 2017-08-09T14:31:37.0520000Z
                      asset_id_quote: USD
                      rate: 3258.887541779804
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: EUR
                      rate: 2782.5255080599272
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: CNY
                      rate: 21756.295595926054
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: GBP
                      rate: 2509.602420379958
              schema:
                $ref: '#/components/schemas/v1.ExchangeRates'
          description: successful operation
      summary: Get all current rates
      tags:
      - Exchange Rates
  /v1/exchangerate/history/periods:
    get:
      description: "You can also obtain historical exchange rates of any asset pair,\
        \ grouped into time periods.\nGet full list of supported time periods available\
        \ for requesting exchange rates historical timeseries data.\n            \n\
        ## Timeseries periods\nTime unit |\tPeriod identifiers\n--- | ---\nSecond\
        \ | 1SEC, 2SEC, 3SEC, 4SEC, 5SEC, 6SEC, 10SEC, 15SEC, 20SEC, 30SEC\nMinute\
        \ | 1MIN, 2MIN, 3MIN, 4MIN, 5MIN, 6MIN, 10MIN, 15MIN, 20MIN, 30MIN\nHour |\
        \ 1HRS, 2HRS, 3HRS, 4HRS, 6HRS, 8HRS, 12HRS\nDay | 1DAY, 2DAY, 3DAY, 5DAY,\
        \ 7DAY, 10DAY"
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - period_id: 1SEC
                    length_seconds: 1
                    length_months: 0
                    unit_count: 1
                    unit_name: second
                    display_name: 1 Second
                  - period_id: 30MIN
                    length_seconds: 1800
                    length_months: 0
                    unit_count: 30
                    unit_name: minute
                    display_name: 30 Minutes
                  - period_id: 10DAY
                    length_seconds: 864000
                    length_months: 0
                    unit_count: 10
                    unit_name: day
                    display_name: 10 Days
              schema:
                items:
                  $ref: '#/components/schemas/v1.TimeseriesPeriod'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - period_id: 1SEC
                    length_seconds: 1
                    length_months: 0
                    unit_count: 1
                    unit_name: second
                    display_name: 1 Second
                  - period_id: 30MIN
                    length_seconds: 1800
                    length_months: 0
                    unit_count: 30
                    unit_name: minute
                    display_name: 30 Minutes
                  - period_id: 10DAY
                    length_seconds: 864000
                    length_months: 0
                    unit_count: 10
                    unit_name: day
                    display_name: 10 Days
              schema:
                items:
                  $ref: '#/components/schemas/v1.TimeseriesPeriod'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - period_id: 1SEC
                    length_seconds: 1
                    length_months: 0
                    unit_count: 1
                    unit_name: second
                    display_name: 1 Second
                  - period_id: 30MIN
                    length_seconds: 1800
                    length_months: 0
                    unit_count: 30
                    unit_name: minute
                    display_name: 30 Minutes
                  - period_id: 10DAY
                    length_seconds: 864000
                    length_months: 0
                    unit_count: 10
                    unit_name: day
                    display_name: 10 Days
              schema:
                items:
                  $ref: '#/components/schemas/v1.TimeseriesPeriod'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - period_id: 1SEC
                    length_seconds: 1
                    length_months: 0
                    unit_count: 1
                    unit_name: second
                    display_name: 1 Second
                  - period_id: 30MIN
                    length_seconds: 1800
                    length_months: 0
                    unit_count: 30
                    unit_name: minute
                    display_name: 30 Minutes
                  - period_id: 10DAY
                    length_seconds: 864000
                    length_months: 0
                    unit_count: 10
                    unit_name: day
                    display_name: 10 Days
              schema:
                items:
                  $ref: '#/components/schemas/v1.TimeseriesPeriod'
                type: array
          description: successful operation
      summary: Timeseries periods
      tags:
      - Exchange Rates
  /v1/exchangerate/{asset_id_base}/{asset_id_quote}/history:
    get:
      description: Get the historical exchange rates between two assets in the form
        of the timeseries.
      parameters:
      - description: Requested exchange rates base asset identifier (from the Metadata
          -> Assets)
        explode: false
        in: path
        name: asset_id_base
        required: true
        schema:
          type: string
        style: simple
      - description: Requested exchange rates base asset identifier (from the Metadata
          -> Assets)
        explode: false
        in: path
        name: asset_id_quote
        required: true
        schema:
          type: string
        style: simple
      - description: "Identifier of requested timeseries period (required, e.g. `5SEC`\
          \ or `1HRS`)"
        explode: true
        in: query
        name: period_id
        required: false
        schema:
          type: string
        style: form
      - description: Timeseries starting time in ISO 8601 (required)
        explode: true
        in: query
        name: time_start
        required: false
        schema:
          type: string
        style: form
      - description: Timeseries ending time in ISO 8601 (required)
        explode: true
        in: query
        name: time_end
        required: false
        schema:
          type: string
        style: form
      - description: "Amount of items to return (optional, mininum is 1, maximum is\
          \ 100000, default value is 100, if the parameter is used then every 100\
          \ output items are counted as one request)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - time_period_start: 2016-01-01T00:00:00.0000000Z
                    time_period_end: 0001-01-01T00:00:00.0000000Z
                    time_open: 2016-01-01T00:00:00.0000000Z
                    time_close: 2016-01-01T00:00:00.0000000Z
                    rate_open: 430.586617904731
                    rate_high: 430.586617904731
                    rate_low: 430.586617904731
                    rate_close: 430.586617904731
                  - time_period_start: 2016-01-01T00:01:00.0000000Z
                    time_period_end: 2016-01-01T00:02:00.0000000Z
                    time_open: 2016-01-01T00:01:00.0000000Z
                    time_close: 2016-01-01T00:01:00.0000000Z
                    rate_open: 430.38999999999993
                    rate_high: 430.38999999999993
                    rate_low: 430.38999999999993
                    rate_close: 430.38999999999993
                  - time_period_start: 2016-01-01T00:02:00.0000000Z
                    time_period_end: 2016-01-01T00:03:00.0000000Z
                    time_open: 2016-01-01T00:02:00.0000000Z
                    time_close: 2016-01-01T00:02:00.0000000Z
                    rate_open: 430.6522189770523
                    rate_high: 430.6522189770523
                    rate_low: 430.6522189770523
                    rate_close: 430.6522189770523
              schema:
                items:
                  $ref: '#/components/schemas/v1.ExchangeRatesTimeseriesItem'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - time_period_start: 2016-01-01T00:00:00.0000000Z
                    time_period_end: 0001-01-01T00:00:00.0000000Z
                    time_open: 2016-01-01T00:00:00.0000000Z
                    time_close: 2016-01-01T00:00:00.0000000Z
                    rate_open: 430.586617904731
                    rate_high: 430.586617904731
                    rate_low: 430.586617904731
                    rate_close: 430.586617904731
                  - time_period_start: 2016-01-01T00:01:00.0000000Z
                    time_period_end: 2016-01-01T00:02:00.0000000Z
                    time_open: 2016-01-01T00:01:00.0000000Z
                    time_close: 2016-01-01T00:01:00.0000000Z
                    rate_open: 430.38999999999993
                    rate_high: 430.38999999999993
                    rate_low: 430.38999999999993
                    rate_close: 430.38999999999993
                  - time_period_start: 2016-01-01T00:02:00.0000000Z
                    time_period_end: 2016-01-01T00:03:00.0000000Z
                    time_open: 2016-01-01T00:02:00.0000000Z
                    time_close: 2016-01-01T00:02:00.0000000Z
                    rate_open: 430.6522189770523
                    rate_high: 430.6522189770523
                    rate_low: 430.6522189770523
                    rate_close: 430.6522189770523
              schema:
                items:
                  $ref: '#/components/schemas/v1.ExchangeRatesTimeseriesItem'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - time_period_start: 2016-01-01T00:00:00.0000000Z
                    time_period_end: 0001-01-01T00:00:00.0000000Z
                    time_open: 2016-01-01T00:00:00.0000000Z
                    time_close: 2016-01-01T00:00:00.0000000Z
                    rate_open: 430.586617904731
                    rate_high: 430.586617904731
                    rate_low: 430.586617904731
                    rate_close: 430.586617904731
                  - time_period_start: 2016-01-01T00:01:00.0000000Z
                    time_period_end: 2016-01-01T00:02:00.0000000Z
                    time_open: 2016-01-01T00:01:00.0000000Z
                    time_close: 2016-01-01T00:01:00.0000000Z
                    rate_open: 430.38999999999993
                    rate_high: 430.38999999999993
                    rate_low: 430.38999999999993
                    rate_close: 430.38999999999993
                  - time_period_start: 2016-01-01T00:02:00.0000000Z
                    time_period_end: 2016-01-01T00:03:00.0000000Z
                    time_open: 2016-01-01T00:02:00.0000000Z
                    time_close: 2016-01-01T00:02:00.0000000Z
                    rate_open: 430.6522189770523
                    rate_high: 430.6522189770523
                    rate_low: 430.6522189770523
                    rate_close: 430.6522189770523
              schema:
                items:
                  $ref: '#/components/schemas/v1.ExchangeRatesTimeseriesItem'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - time_period_start: 2016-01-01T00:00:00.0000000Z
                    time_period_end: 0001-01-01T00:00:00.0000000Z
                    time_open: 2016-01-01T00:00:00.0000000Z
                    time_close: 2016-01-01T00:00:00.0000000Z
                    rate_open: 430.586617904731
                    rate_high: 430.586617904731
                    rate_low: 430.586617904731
                    rate_close: 430.586617904731
                  - time_period_start: 2016-01-01T00:01:00.0000000Z
                    time_period_end: 2016-01-01T00:02:00.0000000Z
                    time_open: 2016-01-01T00:01:00.0000000Z
                    time_close: 2016-01-01T00:01:00.0000000Z
                    rate_open: 430.38999999999993
                    rate_high: 430.38999999999993
                    rate_low: 430.38999999999993
                    rate_close: 430.38999999999993
                  - time_period_start: 2016-01-01T00:02:00.0000000Z
                    time_period_end: 2016-01-01T00:03:00.0000000Z
                    time_open: 2016-01-01T00:02:00.0000000Z
                    time_close: 2016-01-01T00:02:00.0000000Z
                    rate_open: 430.6522189770523
                    rate_high: 430.6522189770523
                    rate_low: 430.6522189770523
                    rate_close: 430.6522189770523
              schema:
                items:
                  $ref: '#/components/schemas/v1.ExchangeRatesTimeseriesItem'
                type: array
          description: successful operation
      summary: Timeseries data
      tags:
      - Exchange Rates
  /v1/exchanges:
    get:
      description: "Get a detailed list of exchanges provided by the system.\n   \
        \         \n:::info\nProperties of the output are providing aggregated information\
        \ from across all symbols related to the specific exchange. If you need to\
        \ calculate your aggregation (e.g., limiting only the particular type of symbols),\
        \ you should use /v1/symbols endpoint as a data source.\n:::"
      parameters:
      - description: "Comma or semicolon delimited exchange identifiers used to filter\
          \ response. (optional, eg. `BITSTAMP;GEMINI`)"
        explode: true
        in: query
        name: filter_exchange_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: '#/components/schemas/v1.Exchange'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: '#/components/schemas/v1.Exchange'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: '#/components/schemas/v1.Exchange'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: '#/components/schemas/v1.Exchange'
                type: array
          description: successful operation
      summary: List all exchanges
      tags:
      - Metadata
  /v1/exchanges/{exchange_id}:
    get:
      parameters:
      - description: The ID of the exchange.
        explode: false
        in: path
        name: exchange_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: '#/components/schemas/v1.Exchange'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: '#/components/schemas/v1.Exchange'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: '#/components/schemas/v1.Exchange'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: '#/components/schemas/v1.Exchange'
                type: array
          description: successful operation
      summary: List all exchanges by exchange_id
      tags:
      - Metadata
  /v1/exchanges/icons/{size}:
    get:
      parameters:
      - description: The size of the icons.
        explode: false
        in: path
        name: size
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - exchange_id: CHAINCE
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/204e55dd8dab4a0d823c21f04be6be4b.png
                  - exchange_id: BILAXY
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/4958c92dbddd4936b1f655e5063dc782.png
                  - exchange_id: BCOINSG
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/b7c77041cdef4f359b4044b2d73c7741.png
              schema:
                items:
                  $ref: '#/components/schemas/v1.Icon'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - exchange_id: CHAINCE
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/204e55dd8dab4a0d823c21f04be6be4b.png
                  - exchange_id: BILAXY
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/4958c92dbddd4936b1f655e5063dc782.png
                  - exchange_id: BCOINSG
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/b7c77041cdef4f359b4044b2d73c7741.png
              schema:
                items:
                  $ref: '#/components/schemas/v1.Icon'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - exchange_id: CHAINCE
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/204e55dd8dab4a0d823c21f04be6be4b.png
                  - exchange_id: BILAXY
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/4958c92dbddd4936b1f655e5063dc782.png
                  - exchange_id: BCOINSG
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/b7c77041cdef4f359b4044b2d73c7741.png
              schema:
                items:
                  $ref: '#/components/schemas/v1.Icon'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - exchange_id: CHAINCE
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/204e55dd8dab4a0d823c21f04be6be4b.png
                  - exchange_id: BILAXY
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/4958c92dbddd4936b1f655e5063dc782.png
                  - exchange_id: BCOINSG
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/b7c77041cdef4f359b4044b2d73c7741.png
              schema:
                items:
                  $ref: '#/components/schemas/v1.Icon'
                type: array
          description: successful operation
      summary: List of icons for the exchanges
      tags:
      - Metadata
  /v1/metrics/listing:
    get:
      description: Get all data metrics.
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - metric_id: LIQUIDATION_QUANTITY
                    description: The liquidation quantity metric calculates the specific
                      amount of the asset that must be sold to settle the trader's
                      obligations and bring their position back to a manageable level.
                      It helps ensure that the trader's losses are covered and that
                      their account remains in good standing.
                  - metric_id: DERIVATIVES_LAST_PRICE
                    description: "The last price represents the price at which the\
                      \ most recent trade of the derivative contract occurred. It\
                      \ provides traders and investors with the latest information\
                      \ on the market value of the derivative, allowing them to assess\
                      \ the current market sentiment, track price movements, and make\
                      \ informed decisions regarding their derivative positions. The\
                      \ derivatives last price metric is crucial for monitoring real-time\
                      \ market conditions and managing derivative trading strategies\
                      \ effectively."
              schema:
                items:
                  $ref: '#/components/schemas/v1.Metric'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - metric_id: LIQUIDATION_QUANTITY
                    description: The liquidation quantity metric calculates the specific
                      amount of the asset that must be sold to settle the trader's
                      obligations and bring their position back to a manageable level.
                      It helps ensure that the trader's losses are covered and that
                      their account remains in good standing.
                  - metric_id: DERIVATIVES_LAST_PRICE
                    description: "The last price represents the price at which the\
                      \ most recent trade of the derivative contract occurred. It\
                      \ provides traders and investors with the latest information\
                      \ on the market value of the derivative, allowing them to assess\
                      \ the current market sentiment, track price movements, and make\
                      \ informed decisions regarding their derivative positions. The\
                      \ derivatives last price metric is crucial for monitoring real-time\
                      \ market conditions and managing derivative trading strategies\
                      \ effectively."
              schema:
                items:
                  $ref: '#/components/schemas/v1.Metric'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - metric_id: LIQUIDATION_QUANTITY
                    description: The liquidation quantity metric calculates the specific
                      amount of the asset that must be sold to settle the trader's
                      obligations and bring their position back to a manageable level.
                      It helps ensure that the trader's losses are covered and that
                      their account remains in good standing.
                  - metric_id: DERIVATIVES_LAST_PRICE
                    description: "The last price represents the price at which the\
                      \ most recent trade of the derivative contract occurred. It\
                      \ provides traders and investors with the latest information\
                      \ on the market value of the derivative, allowing them to assess\
                      \ the current market sentiment, track price movements, and make\
                      \ informed decisions regarding their derivative positions. The\
                      \ derivatives last price metric is crucial for monitoring real-time\
                      \ market conditions and managing derivative trading strategies\
                      \ effectively."
              schema:
                items:
                  $ref: '#/components/schemas/v1.Metric'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - metric_id: LIQUIDATION_QUANTITY
                    description: The liquidation quantity metric calculates the specific
                      amount of the asset that must be sold to settle the trader's
                      obligations and bring their position back to a manageable level.
                      It helps ensure that the trader's losses are covered and that
                      their account remains in good standing.
                  - metric_id: DERIVATIVES_LAST_PRICE
                    description: "The last price represents the price at which the\
                      \ most recent trade of the derivative contract occurred. It\
                      \ provides traders and investors with the latest information\
                      \ on the market value of the derivative, allowing them to assess\
                      \ the current market sentiment, track price movements, and make\
                      \ informed decisions regarding their derivative positions. The\
                      \ derivatives last price metric is crucial for monitoring real-time\
                      \ market conditions and managing derivative trading strategies\
                      \ effectively."
              schema:
                items:
                  $ref: '#/components/schemas/v1.Metric'
                type: array
          description: successful operation
      summary: Listing of all supported metrics by CoinAPI
      tags:
      - MetricsV1
  /v1/metrics/exchange/listing:
    get:
      description: Get data metrics for exchange.
      parameters:
      - description: The metric identifier (from the Metrics -> Listing)
        explode: true
        in: query
        name: metric_id
        required: false
        schema:
          type: string
        style: form
      - description: The exchange identifier (from the Metadata -> Exchanges)
        explode: true
        in: query
        name: exchange_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - metric_id: LIQUIDATION_TIME_IN_FORCE
                    exchange_id: BINANCEFTS
                  - metric_id: LIQUIDATION_ORDER_TYPE
                    exchange_id: BINANCEFTS
                  - metric_id: LIQUIDATION_ORDER_STATUS
                    exchange_id: BINANCEFTS
              schema:
                items:
                  $ref: '#/components/schemas/v1.ListingItem'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - metric_id: LIQUIDATION_TIME_IN_FORCE
                    exchange_id: BINANCEFTS
                  - metric_id: LIQUIDATION_ORDER_TYPE
                    exchange_id: BINANCEFTS
                  - metric_id: LIQUIDATION_ORDER_STATUS
                    exchange_id: BINANCEFTS
              schema:
                items:
                  $ref: '#/components/schemas/v1.ListingItem'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - metric_id: LIQUIDATION_TIME_IN_FORCE
                    exchange_id: BINANCEFTS
                  - metric_id: LIQUIDATION_ORDER_TYPE
                    exchange_id: BINANCEFTS
                  - metric_id: LIQUIDATION_ORDER_STATUS
                    exchange_id: BINANCEFTS
              schema:
                items:
                  $ref: '#/components/schemas/v1.ListingItem'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - metric_id: LIQUIDATION_TIME_IN_FORCE
                    exchange_id: BINANCEFTS
                  - metric_id: LIQUIDATION_ORDER_TYPE
                    exchange_id: BINANCEFTS
                  - metric_id: LIQUIDATION_ORDER_STATUS
                    exchange_id: BINANCEFTS
              schema:
                items:
                  $ref: '#/components/schemas/v1.ListingItem'
                type: array
          description: successful operation
      summary: Listing of all supported exchange metrics
      tags:
      - MetricsV1
  /v1/metrics/exchange/current:
    get:
      description: Get current exchange metrics values.
      parameters:
      - description: The metric identifier (from the Metrics -> Listing)
        explode: true
        in: query
        name: metric_id
        required: false
        schema:
          type: string
        style: form
      - description: The exchange identifier (from the Metadata -> Exchanges)
        explode: true
        in: query
        name: exchange_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - entry_time: 2023-06-16T07:55:07.2787756Z
                    recv_time: 2023-06-16T07:55:07.0010000Z
                    exchange_id: DERIBIT
                    metric_id: DERIVATIVES_MARK_PRICE
                    value_decimal: 0.0086
                  - entry_time: 2023-06-26T07:05:39.9865633Z
                    recv_time: 2023-06-26T07:05:39.9000000Z
                    exchange_id: DERIBIT
                    metric_id: IV_UNDERLYING_PRICE
                    value_decimal: 30743.29
                  - entry_time: 2023-06-26T07:05:17.0768012Z
                    recv_time: 2023-06-26T07:05:16.8420000Z
                    exchange_id: DERIBIT
                    metric_id: DERIVATIVES_MARK_PRICE_IV
                    value_decimal: 60.77
              schema:
                items:
                  $ref: '#/components/schemas/v1.GeneralData'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - entry_time: 2023-06-16T07:55:07.2787756Z
                    recv_time: 2023-06-16T07:55:07.0010000Z
                    exchange_id: DERIBIT
                    metric_id: DERIVATIVES_MARK_PRICE
                    value_decimal: 0.0086
                  - entry_time: 2023-06-26T07:05:39.9865633Z
                    recv_time: 2023-06-26T07:05:39.9000000Z
                    exchange_id: DERIBIT
                    metric_id: IV_UNDERLYING_PRICE
                    value_decimal: 30743.29
                  - entry_time: 2023-06-26T07:05:17.0768012Z
                    recv_time: 2023-06-26T07:05:16.8420000Z
                    exchange_id: DERIBIT
                    metric_id: DERIVATIVES_MARK_PRICE_IV
                    value_decimal: 60.77
              schema:
                items:
                  $ref: '#/components/schemas/v1.GeneralData'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - entry_time: 2023-06-16T07:55:07.2787756Z
                    recv_time: 2023-06-16T07:55:07.0010000Z
                    exchange_id: DERIBIT
                    metric_id: DERIVATIVES_MARK_PRICE
                    value_decimal: 0.0086
                  - entry_time: 2023-06-26T07:05:39.9865633Z
                    recv_time: 2023-06-26T07:05:39.9000000Z
                    exchange_id: DERIBIT
                    metric_id: IV_UNDERLYING_PRICE
                    value_decimal: 30743.29
                  - entry_time: 2023-06-26T07:05:17.0768012Z
                    recv_time: 2023-06-26T07:05:16.8420000Z
                    exchange_id: DERIBIT
                    metric_id: DERIVATIVES_MARK_PRICE_IV
                    value_decimal: 60.77
              schema:
                items:
                  $ref: '#/components/schemas/v1.GeneralData'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - entry_time: 2023-06-16T07:55:07.2787756Z
                    recv_time: 2023-06-16T07:55:07.0010000Z
                    exchange_id: DERIBIT
                    metric_id: DERIVATIVES_MARK_PRICE
                    value_decimal: 0.0086
                  - entry_time: 2023-06-26T07:05:39.9865633Z
                    recv_time: 2023-06-26T07:05:39.9000000Z
                    exchange_id: DERIBIT
                    metric_id: IV_UNDERLYING_PRICE
                    value_decimal: 30743.29
                  - entry_time: 2023-06-26T07:05:17.0768012Z
                    recv_time: 2023-06-26T07:05:16.8420000Z
                    exchange_id: DERIBIT
                    metric_id: DERIVATIVES_MARK_PRICE_IV
                    value_decimal: 60.77
              schema:
                items:
                  $ref: '#/components/schemas/v1.GeneralData'
                type: array
          description: successful operation
      summary: Current metrics for given exchange
      tags:
      - MetricsV1
  /v1/metrics/exchange/history:
    get:
      description: Get exchange metrics history.
      parameters:
      - description: Metric identifier (from the Metrics -> Listing)
        explode: true
        in: query
        name: metric_id
        required: true
        schema:
          type: string
        style: form
      - description: Exchange identifier (from the Metadata -> Exchanges)
        explode: true
        in: query
        name: exchange_id
        required: true
        schema:
          type: string
        style: form
      - description: Starting time in ISO 8601
        explode: true
        in: query
        name: time_start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Ending time in ISO 8601
        explode: true
        in: query
        name: time_end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "If set, returned values will be in unix timestamp format (valid\
          \ values: unix_sec, unix_millisec, unix_microsec, unix_nanosec)"
        explode: true
        in: query
        name: time_format
        required: false
        schema:
          type: string
        style: form
      - description: "Identifier of requested timeseries period (e.g. `5SEC` or `2MTH`),\
          \ default value is `1SEC`"
        explode: true
        in: query
        name: period_id
        required: false
        schema:
          type: string
        style: form
      - description: "Amount of items to return (optional, mininum is 1, maximum is\
          \ 100000, default value is 100, if the parameter is used then every 100\
          \ output items are counted as one request)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - time_period_start: 2023-07-03T14:29:02.0000000Z
                    time_period_end: 2023-07-03T14:29:03.0000000Z
                    time_open: 2023-07-03T14:29:02.5699837Z
                    time_close: 2023-07-03T14:29:02.5699837Z
                    first: 0
                    last: 0
                    min: 0
                    max: 0
                    count: 0
                    sum: 30668.476938
                  - time_period_start: 2023-07-03T14:29:03.0000000Z
                    time_period_end: 2023-07-03T14:29:04.0000000Z
                    time_open: 2023-07-03T14:29:03.1076159Z
                    time_close: 2023-07-03T14:29:03.1076159Z
                    first: 0
                    last: 0
                    min: 0
                    max: 0
                    count: 0
                    sum: 0.05485331
                  - time_period_start: 2023-07-03T14:29:04.0000000Z
                    time_period_end: 2023-07-03T14:29:05.0000000Z
                    time_open: 2023-07-03T14:29:04.5792149Z
                    time_close: 2023-07-03T14:29:04.9459786Z
                    first: 0
                    last: 0
                    min: 0
                    max: 0
                    count: 0
                    sum: 7.0257000000000005
              schema:
                items:
                  $ref: '#/components/schemas/v1.MetricData'
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - time_period_start: 2023-07-03T14:29:02.0000000Z
                    time_period_end: 2023-07-03T14:29:03.0000000Z
                    time_open: 2023-07-03T14:29:02.5699837Z
                    time_close: 2023-07-03T14:29:02.5699837Z
                    first: 0
                    last: 0
                    min: 0
                    max: 0
                    count: 0
                    sum: 30668.476938
                  - time_period_start: 2023-07-03T14:29:03.0000000Z
                    time_period_end: 2023-07-03T14:29:04.0000000Z
                    time_open: 2023-07-03T14:29:03.1076159Z
                    time_close: 2023-07-03T14:29:03.1076159Z
                    first: 0
                    last: 0
                    min: 0
                    max: 0
                    count: 0
                    sum: 0.05485331
                  - time_period_start: 2023-07-03T14:29:04.0000000Z
                    time_period_end: 2023-07-03T14:29:05.0000000Z
                    time_open: 2023-07-03T14:29:04.5792149Z
                    time_close: 2023-07-03T14:29:04.9459786Z
                    first: 0
                    last: 0
                    min: 0
                    max: 0
                    count: 0
                    sum: 7.0257000000000005
              schema:
                items:
                  $ref: '#/components/schemas/v1.MetricData'
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - time_period_start: 2023-07-03T14:29:02.0000000Z
                    time_period_end: 2023-07-03T14:29:03.0000000Z
                    time_open: 2023-07-03T14:29:02.5699837Z
                    time_close: 2023-07-03T14:29:02.5699837Z
                    first: 0
                    last: 0
                    min: 0
                    max: 0
                    count: 0
                    sum: 30668.476938
                  - time_period_start: 2023-07-03T14:29:03.0000000Z
                    time_period_end: 2023-07-03T14:29:04.0000000Z
                    time_open: 2023-07-03T14:29:03.1076159Z
                    time_close: 2023-07-03T14:29:03.1076159Z
                    first: 0
                    last: 0
                    min: 0
                    max: 0
                    count: 0
                    sum: 0.05485331
                  - time_period_start: 2023-07-03T14:29:04.0000000Z
                    time_period_end: 2023-07-03T14:29:05.0000000Z
                    time_open: 2023-07-03T14:29:04.5792149Z
                    time_close: 2023-07-03T14:29:04.9459786Z
                    first: 0
                    last: 0
                    min: 0
                    max: 0
                    count: 0
                    sum: 7.0257000000000005
              schema:
                items:
                  $ref: '#/components/schemas/v1.MetricData'
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - time_period_start: 2023-07-03T14:29:02.0000000Z
                    time_period_end: 2023-07-03T14:29:03.0000000Z
                    time_open: 2023-07-03T14:29:02.5699837Z
[...]
