/**
 * FinFeedAPI SEC REST API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * Contact: support@apibricks.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ProblemDetails
import org.openapitools.client.model.ValidationProblemDetails
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object FileDownloadApi {

  def apply(baseUrl: String = "https://api.sec.finfeedapi.com") = new FileDownloadApi(baseUrl)
}

class FileDownloadApi(baseUrl: String) {

  /**
   * Downloads a specific file from the SEC EDGAR archive using the accession number and filename. The file is streamed directly from the SEC servers to the client.  ### Accession Number Format Accession numbers must be in the format: 0000000000-00-000000 (10 digits, dash, 2 digits, dash, 6 digits)  ### File Name Examples - Primary documents: `d123456d10k.htm`, `d789012d8k.htm` - XBRL files: `d123456d10k_htm.xml`, `FilingSummary.xml` - Exhibits: `d123456dexhibit99.htm`, `d123456dex101.htm`  ### File Types The endpoint supports downloading various file types from SEC filings: - HTML documents (.htm, .html) - XBRL files (.xml, .xsd) - Text files (.txt) - PDF files (.pdf) - Other document formats as submitted to SEC  :::tip You can find available filenames for a specific filing using the `/v1/filings` endpoint first :::  :::warning This endpoint streams files directly from the SEC. Large files may take longer to download. :::
   * 
   * Expected answers:
   *   code 200 :  (File downloaded successfully)
   *   code 400 : ValidationProblemDetails (Invalid request parameters)
   *   code 404 : ProblemDetails (Filing or file not found)
   *   code 500 : ProblemDetails (Server error)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   * 
   * @param accessionNo SEC filing accession number in format: 0000000000-00-000000
   * @param fileName Name of the file to download from the filing
   */
  def v1DownloadGet(accessionNo: String, fileName: String)(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/v1/download", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withQueryParam("accession_no", accessionNo)
      .withQueryParam("file_name", fileName)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[ValidationProblemDetails](400)
      .withErrorResponse[ProblemDetails](404)
      .withErrorResponse[ProblemDetails](500)
      



}

